<app-bread-crumbs [img_url]="'4.jpg'">
    <div class="row w-100">
        <div class="col-11 col-10 col-md-7 col-lg-6">
            <h1 data-aos="fade-up" data-aos-duration="2000" class="text-light">{{ 'carriers.auto.flatbed-car.title1' | translate }}</h1>
            <p data-aos="fade-up" data-aos-duration="2300" class="text-light my-4">{{ 'carriers.auto.flatbed-car.text1' | translate }}</p>

            <a data-aos="fade-up" data-aos-duration="2600" routerLink="" class="btn-theme">
                <span>{{ 'form.click' | translate }}</span>
                <span>Sign In</span>
                Sign In
            </a>
        </div>
    </div>
</app-bread-crumbs>








<div class="container my-5 py-5">
    <app-section-title title="{{ 'carriers.auto.flatbed-car.title2' | translate }}"></app-section-title>

    <div class="text-list">
        <ul>
            <li data-aos="fade-left" data-aos-duration="1000">{{ 'carriers.auto.flatbed-car.size' | translate }} {{ 'carriers.auto.flatbed-car.text2' | translate }}
            </li>
            <li data-aos="fade-left" data-aos-duration="1300">{{ 'carriers.auto.flatbed-car.weight' | translate }} {{ 'carriers.auto.flatbed-car.text3' | translate }}
            </li>
            <li data-aos="fade-left" data-aos-duration="1600">{{ 'carriers.auto.flatbed-car.equipment' | translate }} {{ 'carriers.auto.flatbed-car.text4' | translate
                }}</li>
            <li data-aos="fade-left" data-aos-duration="1900">{{ 'carriers.auto.flatbed-car.configuration' | translate }} {{ 'carriers.auto.flatbed-car.text5' |
                translate }}</li>
            <li data-aos="fade-left" data-aos-duration="2100">{{ 'carriers.auto.flatbed-car.handling' | translate }} {{ 'carriers.auto.flatbed-car.text6' | translate
                }}</li>
        </ul>
    </div>
</div>









<div class="container mb-5 pb-5">
    <app-section-title title="{{ 'carriers.auto.flatbed-car.title3' | translate }}"></app-section-title>

    <div class="row">
        <div data-aos="fade-right" data-aos-duration="2000" class="col-11 col-sm-8 col-md-6 mx-auto mt-5">
            <div class="d-flex align-items-center h-100">
                <div>
                    <h3>{{ 'carriers.auto.flatbed-car.sub-title1' | translate }}</h3>
                    <p>{{ 'carriers.auto.flatbed-car.sub-text1' | translate }}</p>
                </div>
            </div>
        </div>
        <div data-aos="fade-left" data-aos-duration="2000" class="col-11 col-sm-8 col-md-6 mx-auto mt-5">
            <img loading="lazy" src="./assets/images/carries/Flatbed/1.jpg" alt="DPL service image" class="img-fluid rounded">
        </div>
    </div>


    <div class="row sm-reverse">
        <div data-aos="fade-left" data-aos-duration="2000" class="col-11 col-sm-8 col-md-6 mx-auto mt-5">
            <div class="d-flex align-items-center h-100">
                <div>
                    <h3>{{ 'carriers.auto.flatbed-car.sub-title2' | translate }}</h3>
                    <p>{{ 'carriers.auto.flatbed-car.sub-text3' | translate }}</p>
                </div>
            </div>
        </div>
        <div data-aos="fade-right" data-aos-duration="2000" class="col-11 col-sm-8 col-md-6 mx-auto mt-5">
            <img loading="lazy" src="./assets/images/carries/Flatbed/2.jpg" alt="DPL service image" class="img-fluid rounded">
        </div>
    </div>

    <div class="row">
        <div data-aos="fade-right" data-aos-duration="2000" class="col-11 col-sm-8 col-md-6 mx-auto mt-5">
            <div class="d-flex align-items-center h-100">
                <div>
                    <h3>{{ 'carriers.auto.flatbed-car.sub-title3' | translate }}</h3>
                    <p>{{ 'carriers.auto.flatbed-car.sub-text3' | translate }}</p>
                </div>
            </div>
        </div>
        <div data-aos="fade-left" data-aos-duration="2000" class="col-11 col-sm-8 col-md-6 mx-auto mt-5">
            <img loading="lazy" src="./assets/images/carries/Flatbed/4.jpg" alt="DPL service image" class="img-fluid rounded">
        </div>
    </div>

</div>