<app-bread-crumbs [img_url]="'operator.jpg'">
    <div class="w-100">
        <h1 data-aos="fade-up" data-aos-duration="2000" class="text-light">
            Contact DPL
        </h1>
        <p data-aos="fade-up" data-aos-duration="2500" class="text-light my-4">
            We'd love to hear from you
        </p>
    </div>
</app-bread-crumbs>

<div class="container">
    <div class="row mb-5">
        <div class="col-11 col-sm-10 col-md-6 mt-5 mx-auto">

            <form #f="ngForm" (submit)="send(f)" class="text-center">
                <mat-form-field class="w-100">
                    <mat-label>Name</mat-label>
                    <input type="text" matInput ngModel name="name" required minlength="3">
                </mat-form-field>

                <mat-form-field class="w-100">
                    <mat-label>Phone</mat-label>
                    <input type="text" matInput ngModel name="phone" required minlength="7">
                </mat-form-field>

                <mat-form-field class="w-100">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput ngModel name="email" required minlength="6">
                </mat-form-field>

                <mat-form-field class="w-100">
                    <mat-label>Message</mat-label>
                    <textarea matInput ngModel name="message" required cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="3"></textarea>
                </mat-form-field>

                <button [disabled]="f.invalid" class="btn-warning btn" type="submit">Send</button>
            </form>
        </div>
        <div class="col-11 col-sm-10 col-md-5 mt-5 mx-auto contact-links">
            <h2>Diamond Pro Logistics</h2>
            <a target="_blank" href="https://www.google.com/maps/place/1310+Turk+St+%23208,+San+Francisco,+CA+94115,+USA/@37.7808353,-122.4333834,17z/data=!3m1!4b1!4m6!3m5!1s0x808580bb99565951:0xccbca122559a363b!8m2!3d37.7808311!4d-122.4308085!16s%2Fg%2F11tmvl21mp?entry=ttu">
                <i class="fa fa-map-marker-alt"></i>
                1310 Turk St, San Francisco, CA 94115, USA
            </a><br>
            <a target="_blank" href="tel:+18007281735">
                <i class="fa fa-phone"></i>
                +1 (800) 728-1735
            </a><br>
            <a target="_blank" href="mailto:info@dplinc.co">
                <i class="fa fa-envelope"></i>
                info@dplinc.co
            </a>
        </div>
    </div>
</div>