<app-main-bar></app-main-bar>


<app-news-carousel></app-news-carousel>



<section id="car-shipping">
    <app-section-title title="{{ 'home.section2' | translate }}"></app-section-title>

    <div class="container">
        <div class="row">
            <div class="mx-auto col-11 col-sm-10 col-md-4" data-aos="fade-up" data-aos-duration="500"
                data-aos-anchor-placement="center-bottom">
                <div class="block">
                    <img loading="lazy" src="./assets/images/shipping/car-hauler_SuperDispatch.jpg" alt="Service image"
                        class="img-fluid hover-shadow" loading="lazy" height="300px">

                    <h5 class="mt-4 mb-2">{{ 'home.title1' | translate }}</h5>
                    <p>
                        <strong>
                            <span>|&nbsp;</span>
                        </strong>
                        {{ 'home.text1' | translate }}
                    </p>
                    <a class="block-link" routerLink="/app/carriers/auto/open-car-haulers">{{ 'home.readmore' |
                        translate }}</a>
                </div>
            </div>
            <div class="mx-auto col-11 col-sm-10 col-md-4" data-aos="fade-up" data-aos-duration="1000"
                data-aos-anchor-placement="center-bottom">
                <div class="block">
                    <img loading="lazy" src="./assets/images/shipping/truck.jpg" alt="Service image" class="img-fluid hover-shadow"
                        loading="lazy" height="300px">

                    <h5 class="mt-4 mb-2">{{ 'home.title2' | translate }}</h5>
                    <p>
                        <strong>
                            <span>|&nbsp;</span>
                        </strong>
                        {{ 'home.text2' | translate }}
                    </p>
                    <a class="block-link" routerLink="/app/carriers/auto/enclosed-car-haulers">{{ 'home.readmore' |
                        translate }}</a>
                </div>
            </div>
            <div class="mx-auto col-11 col-sm-10 col-md-4" data-aos="fade-up" data-aos-duration="1500"
                data-aos-anchor-placement="center-bottom">
                <div class="block">
                    <img loading="lazy" src="./assets/images/shipping/Untitled-design-7.png" alt="Service image"
                        class="img-fluid hover-shadow" loading="lazy" height="300px">

                    <h5 class="mt-4 mb-2">{{ 'home.title3' | translate }}</h5>
                    <p>
                        <strong>
                            <span>|&nbsp;</span>
                        </strong>
                        {{ 'home.text3' | translate }}
                    </p>
                    <a class="block-link" routerLink="/app/customers/auto/dealerships">{{ 'home.readmore' | translate
                        }}</a>
                </div>
            </div>
        </div>
    </div>
</section>








<div class="my-5 bg-img jarallax"
    style="background-image: linear-gradient(rgba(0, 0, 0, .5),rgba(0, 0, 0, .5)), url(./assets/images/modern-dark.jpg);">
    <div class="container">

        <div class="row overflow-x-hidden">
            <div class="col-11 col-sm-8 col-md-6 mx-auto py-4 d-flex align-items-center" data-aos="fade-left" data-aos-duration="2000">
                <img loading="lazy" src="./assets/images/dashboard.jpg" loading="lazy" class="w-100 rounded" alt="Service image">
            </div>
            <div class="col-11 col-sm-8 col-md-6 mx-auto p-5 ms-auto d-flex align-items-center flex-column h-100"
                data-aos="fade-right" data-aos-duration="2300">
                <h3 class="text-light">{{ 'home.title4' | translate }}</h3>
                <p class="text-light mt-4">{{ 'home.text4' | translate }}</p>

                <a class="btn-theme btn-inline me-auto"
                    routerLink="/app/customers/freight/manufacturers-and-warehouses">
                    <span>{{ 'form.click' | translate }}</span>
                    <span>{{ 'home.readmore' | translate }}</span>
                    {{ 'home.readmore' | translate }}
                </a>
            </div>
        </div>

    </div>
</div>






<section id="freight-shipping">
    <app-section-title title="{{ 'home.section3' | translate }}"></app-section-title>

    <div class="container">
        <div class="row">
            <div class="mx-auto mb-5 col-11 col-sm-10 col-md-6" data-aos="fade-up" data-aos-duration="2000">
                <div class="img-block">
                    <img loading="lazy" style="border-radius: 0 50% 50% 50%;" src="./assets/images/shipping/Hyster.jpg"
                        alt="Service image" loading="lazy" class="hover-shadow">
                </div>
            </div>
            <div class="mx-auto mb-5 col-11 col-sm-10 col-md-6" data-aos="fade-up" data-aos-duration="2500">
                <div class="text-block">
                    <h4>{{ 'home.title5' | translate }}</h4>

                    <p>{{ 'home.text5' | translate }}</p>

                    <a routerLink="/app/carriers/freight/box-trucks" class="btn-theme">
                        <span>{{ 'form.click' | translate }}</span>
                        <span>{{ 'home.readmore' | translate }}</span>
                        {{ 'home.readmore' | translate }}
                    </a>
                </div>
            </div>
        </div>
        <div class="row sm-reverse">
            <div class="mx-auto mb-5 col-11 col-sm-10 col-md-6" data-aos="fade-left" data-aos-duration="2000">
                <div class="img-block">
                    <img loading="lazy" style="border-radius: 50% 50% 0 50%;"
                        src="./assets/images/shipping/Intermodal-Services-1-1024x614.jpg" alt="Service image"
                        loading="lazy" class="hover-shadow">
                </div>
            </div>
            <div class="mx-auto mb-5 col-11 col-sm-10 col-md-6" data-aos="fade-right" data-aos-duration="2500">
                <div class="text-block">
                    <h4>{{ 'home.title6' | translate }}</h4>

                    <p>{{ 'home.text6' | translate }}</p>

                    <a routerLink="/app/carriers/freight/containers" class="btn-theme">
                        <span>{{ 'form.click' | translate }}</span>
                        <span>{{ 'home.readmore' | translate }}</span>
                        {{ 'home.readmore' | translate }}
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="mx-auto mb-5 col-11 col-sm-10 col-md-6" data-aos="fade-up" data-aos-duration="2000">
                <div class="img-block">
                    <img loading="lazy" style="border-radius: 50% 50% 50% 0;"
                        src="./assets/images/shipping/Impact-Transportation-forklift.jpg" alt="Service image"
                        loading="lazy" class="hover-shadow">
                </div>
            </div>
            <div class="mx-auto mb-5 col-11 col-sm-10 col-md-6" data-aos="fade-up" data-aos-duration="2300">
                <div class="text-block">
                    <h4>{{ 'home.title7' | translate }}</h4>

                    <p>{{ 'home.text7' | translate }}</p>

                    <a routerLink="/app/carriers/auto/flatbed-car-trailers" class="btn-theme">
                        <span>{{ 'form.click' | translate }}</span>
                        <span>{{ 'home.readmore' | translate }}</span>
                        {{ 'home.readmore' | translate }}
                    </a>
                </div>
            </div>
        </div>
        <div class="row sm-reverse">
            <div class="mx-auto mb-5 col-11 col-sm-10 col-md-6" data-aos="fade-right" data-aos-duration="2000">
                <div class="img-block">
                    <img loading="lazy" style="border-radius: 50% 50% 0 50%;" src="./assets/images/shipping/truck.jpg"
                        alt="Service image" loading="lazy" class="hover-shadow">
                </div>
            </div>
            <div class="mx-auto mb-5 col-11 col-sm-10 col-md-6" data-aos="fade-left" data-aos-duration="2300">
                <div class="text-block">
                    <h4>{{ 'home.title8' | translate }}</h4>

                    <p>{{ 'home.text8' | translate }}</p>

                    <a routerLink="/app/carriers/freight/conestoga" class="btn-theme">
                        <span>{{ 'form.click' | translate }}</span>
                        <span>{{ 'home.readmore' | translate }}</span>
                        {{ 'home.readmore' | translate }}
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
