<app-bread-crumbs img_url="spe1.jpg">
    <div class="row w-100">
        <div class="col-11 col-sm-10 col-md-6 mx-auto text-center">
            <h2 data-aos="fade-up" data-aos-duration="2000" class="text-light">{{ 'carriers.auto.specialized-car.title1' | translate }}</h2>
            <p data-aos="fade-up" data-aos-duration="2300" class="text-light">{{ 'carriers.auto.specialized-car.text1' | translate }}</p>
        </div>
    </div>
</app-bread-crumbs>





<app-news-carousel></app-news-carousel>



<!-- icons section -->
<div class="container my-5">
    <app-section-title [title]="'carriers.auto.specialized-car.title2' | translate"></app-section-title>


    <!-- Tabs navs -->
    <ul data-aos="fade-up" data-aos-duration="2000" class="nav nav-tabs tab-list justify-content-center mb-3" id="ex1" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link text-center active" id="ex1-tab-1" data-mdb-toggle="tab" href="#ex1-tabs-1" role="tab"
                aria-controls="ex1-tabs-1" aria-selected="true"
                [innerHTML]="'carriers.auto.specialized-car.card-title1' | translate">
            </a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="ex1-tab-2" data-mdb-toggle="tab" href="#ex1-tabs-2" role="tab"
                aria-controls="ex1-tabs-2" aria-selected="false">
                {{ 'carriers.auto.specialized-car.card-title2' | translate }}
            </a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="ex1-tab-3" data-mdb-toggle="tab" href="#ex1-tabs-3" role="tab"
                aria-controls="ex1-tabs-3" aria-selected="false">
                {{ 'carriers.auto.specialized-car.card-title3' | translate }}
            </a>
        </li>
    </ul>
    <!-- Tabs navs -->

    <!-- Tabs content -->
    <div data-aos="fade-up" data-aos-duration="2000" class="tab-content" id="ex1-content">
        <div class="tab-pane fade show active" id="ex1-tabs-1" role="tabpanel" aria-labelledby="ex1-tab-1">
            {{ 'carriers.auto.specialized-car.card-text1' | translate }}
        </div>
        <div class="tab-pane fade" id="ex1-tabs-2" role="tabpanel" aria-labelledby="ex1-tab-2">
            {{ 'carriers.auto.specialized-car.card-text2' | translate }}
        </div>
        <div class="tab-pane fade" id="ex1-tabs-3" role="tabpanel" aria-labelledby="ex1-tab-3">
            {{ 'carriers.auto.specialized-car.card-text3' | translate }}
        </div>
    </div>
    <!-- Tabs content -->

</div>






<!-- text with icons -->
<div class="container my-5">
    <div class="card">
        <app-section-title [title]="'carriers.auto.specialized-car.question1' | translate"></app-section-title>

        <div class="row w-100">
            <div data-aos="fade-up" data-aos-duration="2000" class="col-12 col-sm-10 col-md-5 col-lg-6 mx-auto py-4 px-5 mt-4">
                <i class="fa fa-truck fa-3x text-theme"></i>
                <h3 class="my-4">{{ 'carriers.auto.specialized-car.q-title1' | translate }}</h3>

                <p>{{ 'carriers.auto.specialized-car.q-description1' | translate }}</p>
            </div>

            <div data-aos="fade-up" data-aos-duration="3000" class="col-12 col-sm-10 col-md-5 col-lg-6 mx-auto py-4 px-5 mt-4">
                <i class="fa fa-truck fa-3x text-theme"></i>
                <h3 class="my-4">{{ 'carriers.auto.specialized-car.q-title2' | translate }}</h3>

                <p>{{ 'carriers.auto.specialized-car.q-description2' | translate }}</p>
            </div>
        </div>
    </div>
</div>