#reviews {
    position: relative;

    .mobile {
        display: none;
    }

    .desktop {
        display: block;
    }
}

@media screen and (max-width: 772px) {
    #reviews {
        .mobile {
            display: block;
        }

        .desktop {
            display: none;
        }
    }
}