#form-section form .form-outline {
  position: relative;

  input[type="date" i]::-webkit-calendar-picker-indicator {
    z-index: 1000;
    background: transparent;
  }

  .trailing {
    top: 68%;
    bottom: 12px;
    background: #fff;
  }

  &.truck-icons .trailing {
    top: 50% !important;
  }
}