<section class="review-carousel position-relative bg-white">
    <div class="container">

        <div class="row">
            <div class="col-12">
                <h4 class="h4 mb-3">Read what other customers say about their experience with one of the best rated car transport companies:</h4>
            </div>
            <div class="col-12 swiper-container reviews-swiper-three-cards">
                <div class="swiper-wrapper">
                    <div class="swiper-slide review3-box-width mr-20">
                        <div class="review-box">
                            <div>
                                <div class="name-rating-wrap">
                                    <span class="h4 text-caption text-gray-medium">Mark Galea</span>
                                    <div class="stars-wrapper">
                                        <img class="no-lazy" alt="" role="presentation" src="./assets/images/icons/star.png" />
                                        <img class="no-lazy" alt="" role="presentation" src="./assets/images/icons/star.png" />
                                        <img class="no-lazy" alt="" role="presentation" src="./assets/images/icons/star.png" />
                                        <img class="no-lazy" alt="" role="presentation" src="./assets/images/icons/star.png" />
                                        <img class="no-lazy" alt="" role="presentation" src="./assets/images/icons/star.png" />
                                    </div>
                                    <span class="rating">5.0</span>
                                </div>
                                <div class="review-body">
                                    <p>This was my second time using CDB Haulers. My car was picked up in an enclosed trailer 2 days after booking and delivered within 4 days. CDB Haulers is the only car shipping service I will ever use!</p>
                                </div>
                            </div>
                            <div class="date-wrap">
                                <span class="text-gray-medium text-small">September 24, 2022</span>
                                <div class="img-wrap">
                                    <img decoding="async" class="no-lazy" src="./assets/images/Google-logo-small.png" alt="Trustpilot-logo-small" srcset="./assets/images/Google-logo-small.png">
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="swiper-slide review3-box-width mr-20">
                        <div class="review-box">
                            <div>
                                <div class="name-rating-wrap">
                                    <span class="h4 text-caption text-gray-medium">Maria Sixto</span>
                                    <div class="stars-wrapper">
                                        <img class="no-lazy" alt="" role="presentation" src="./assets/images/icons/star.png" />
                                        <img class="no-lazy" alt="" role="presentation" src="./assets/images/icons/star.png" />
                                        <img class="no-lazy" alt="" role="presentation" src="./assets/images/icons/star.png" />
                                        <img class="no-lazy" alt="" role="presentation" src="./assets/images/icons/star.png" />
                                        <img class="no-lazy" alt="" role="presentation" src="./assets/images/icons/star.png" />
                                    </div>
                                    <span class="rating">5.0</span>
                                </div>
                                <div class="review-body">
                                    <p>CDB Haulers shipped our vehicle from Florida to Illinois. While many of these companies used scare tactics and bad-mouthed each other, CDB Haulers gave a firm price and explained everything clearly. Our vehicle arrived on time. </p>
                                </div>
                            </div>
                            <div class="date-wrap">
                                <span class="text-gray-medium text-small">November 8, 2022</span>
                                <div class="img-wrap">
                                    <img decoding="async" class="no-lazy" src="./assets/images/Google-logo-small.png" alt="Trustpilot-logo-small" srcset="./assets/images/Google-logo-small.png">
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="swiper-slide review3-box-width mr-20">
                        <div class="review-box">
                            <div>
                                <div class="name-rating-wrap">
                                    <span class="h4 text-caption text-gray-medium">Spencer Anderson</span>
                                    <div class="stars-wrapper">
                                        <img class="no-lazy" alt="" role="presentation" src="./assets/images/icons/star.png" />
                                        <img class="no-lazy" alt="" role="presentation" src="./assets/images/icons/star.png" />
                                        <img class="no-lazy" alt="" role="presentation" src="./assets/images/icons/star.png" />
                                        <img class="no-lazy" alt="" role="presentation" src="./assets/images/icons/star.png" />
                                        <img class="no-lazy" alt="" role="presentation" src="./assets/images/icons/star.png" />
                                    </div>
                                    <span class="rating">5.0</span>
                                </div>
                                <div class="review-body">
                                    <p>I have used CDB Haulers several times and I can’t say enough about them. Each driver was on time, courteous, and flexible. Dedicated and quality customer service. I&#8217;ve used competitors before and there is no comparison. </p>
                                </div>
                            </div>
                            <div class="date-wrap">
                                <span class="text-gray-medium text-small">October 20, 2022</span>
                                <div class="img-wrap">
                                    <img decoding="async" class="no-lazy" src="./assets/images/Google-logo-small.png" alt="Trustpilot-logo-small" srcset="./assets/images/Google-logo-small.png">
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="swiper-slide review3-box-width mr-20">
                        <div class="review-box">
                            <div>
                                <div class="name-rating-wrap">
                                    <span class="h4 text-caption text-gray-medium">Rebecca Gibson</span>
                                    <div class="stars-wrapper">
                                        <img class="no-lazy" alt="" role="presentation" src="./assets/images/icons/star.png" />
                                        <img class="no-lazy" alt="" role="presentation" src="./assets/images/icons/star.png" />
                                        <img class="no-lazy" alt="" role="presentation" src="./assets/images/icons/star.png" />
                                        <img class="no-lazy" alt="" role="presentation" src="./assets/images/icons/star.png" />
                                        <img class="no-lazy" alt="" role="presentation" src="./assets/images/icons/star.png" />
                                    </div>
                                    <span class="rating">5.0</span>
                                </div>
                                <div class="review-body">
                                    <p>We experienced true door-to-door service from Texas to Florida. Our driver was very professional, keeping us informed throughout. Our car arrived in excellent condition. We’ve used CDB Haulers several times.</p>
                                </div>
                            </div>
                            <div class="date-wrap">
                                <span class="text-gray-medium text-small">November 23, 2022</span>
                                <div class="img-wrap">
                                    <img decoding="async" class="no-lazy" src="./assets/images/Google-logo-small.png" alt="Trustpilot-logo-small" srcset="./assets/images/Google-logo-small.png">
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="swiper-slide review3-box-width mr-20">
                        <div class="review-box">
                            <div>
                                <div class="name-rating-wrap">
                                    <span class="h4 text-caption text-gray-medium">Debora Quesenberry</span>
                                    <div class="stars-wrapper">
                                        <img class="no-lazy" alt="" role="presentation" src="./assets/images/icons/star.png" />
                                        <img class="no-lazy" alt="" role="presentation" src="./assets/images/icons/star.png" />
                                        <img class="no-lazy" alt="" role="presentation" src="./assets/images/icons/star.png" />
                                        <img class="no-lazy" alt="" role="presentation" src="./assets/images/icons/star.png" />
                                        <img class="no-lazy" alt="" role="presentation" src="./assets/images/icons/star.png" />
                                    </div>
                                    <span class="rating">5.0</span>
                                </div>
                                <div class="review-body">
                                    <p>Long-distance transport from Delaware to California. The transport was completed in less time than quoted. 100% stress-free experience in transporting our brand-new car across the country. </p>
                                </div>
                            </div>
                            <div class="date-wrap">
                                <span class="text-gray-medium text-small">November 14, 2022</span>
                                <div class="img-wrap">
                                    <img decoding="async" class="no-lazy" src="./assets/images/Google-logo-small.png" alt="Trustpilot-logo-small" srcset="./assets/images/Google-logo-small.png">
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="swiper-slide review3-box-width mr-20">
                        <div class="review-box">
                            <div>
                                <div class="name-rating-wrap">
                                    <span class="h4 text-caption text-gray-medium">Peter Post</span>
                                    <div class="stars-wrapper">
                                        <img class="no-lazy" alt="" role="presentation" src="./assets/images/icons/star.png" />
                                        <img class="no-lazy" alt="" role="presentation" src="./assets/images/icons/star.png" />
                                        <img class="no-lazy" alt="" role="presentation" src="./assets/images/icons/star.png" />
                                        <img class="no-lazy" alt="" role="presentation" src="./assets/images/icons/star.png" />
                                        <img class="no-lazy" alt="" role="presentation" src="./assets/images/icons/star.png" />
                                    </div>
                                    <span class="rating">5.0</span>
                                </div>
                                <div class="review-body">
                                    <p>I have been shipping cars back and forth from NY to FL for 20 years. My experience with CDB Haulers is the best I’ve ever had. Excellent communication with on-time pickup and delivery. A+ all the way!</p>
                                </div>
                            </div>
                            <div class="date-wrap">
                                <span class="text-gray-medium text-small">December 10, 2022</span>
                                <div class="img-wrap">
                                    <img decoding="async" class="no-lazy" src="./assets/images/Google-logo-small.png" alt="Google-logo-small" srcset="./assets/images/Google-logo-small.png">
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="swiper-slide review3-box-width mr-20">
                        <div class="review-box">
                            <div>
                                <div class="name-rating-wrap">
                                    <span class="h4 text-caption text-gray-medium">Celeste Ames</span>
                                    <div class="stars-wrapper">
                                        <img class="no-lazy" alt="" role="presentation" src="./assets/images/icons/star.png" />
                                        <img class="no-lazy" alt="" role="presentation" src="./assets/images/icons/star.png" />
                                        <img class="no-lazy" alt="" role="presentation" src="./assets/images/icons/star.png" />
                                        <img class="no-lazy" alt="" role="presentation" src="./assets/images/icons/star.png" />
                                        <img class="no-lazy" alt="" role="presentation" src="./assets/images/icons/star.png" />
                                    </div>
                                    <span class="rating">5.0</span>
                                </div>
                                <div class="review-body">
                                    <p>CDB Haulers did an awesome job moving my 1974 VW Super Beetle from Los Angeles to Boise. They were easy to contact, the price was reasonable, and scheduling was simple. My beloved Beetle arrived in perfect condition!</p>
                                </div>
                            </div>
                            <div class="date-wrap">
                                <span class="text-gray-medium text-small">December 10, 2022</span>
                                <div class="img-wrap">
                                    <img decoding="async" class="no-lazy" src="./assets/images/Google-logo-small.png" alt="Trustpilot-logo-small" srcset="./assets/images/Google-logo-small.png">
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="swiper-slide review3-box-width mr-20">
                        <div class="review-box">
                            <div>
                                <div class="name-rating-wrap">
                                    <span class="h4 text-caption text-gray-medium">Laura Cook</span>
                                    <div class="stars-wrapper">
                                        <img class="no-lazy" alt="" role="presentation" src="./assets/images/icons/star.png" />
                                        <img class="no-lazy" alt="" role="presentation" src="./assets/images/icons/star.png" />
                                        <img class="no-lazy" alt="" role="presentation" src="./assets/images/icons/star.png" />
                                        <img class="no-lazy" alt="" role="presentation" src="./assets/images/icons/star.png" />
                                        <img class="no-lazy" alt="" role="presentation" src="./assets/images/icons/star.png" />
                                    </div>
                                    <span class="rating">5.0</span>
                                </div>
                                <div class="review-body">
                                    <p>The driver took care of my car, as well as the others on his truck. He treated each car like a delicate gemstone. He was so polite and informative throughout the entire process. I highly recommend using CDB Haulers!</p>
                                </div>
                            </div>
                            <div class="date-wrap">
                                <span class="text-gray-medium text-small">October 2, 2022</span>
                                <div class="img-wrap">
                                    <img decoding="async" class="no-lazy" src="./assets/images/Google-logo-small.png" alt="Trustpilot-logo-small" srcset="./assets/images/Google-logo-small.png">
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="swiper-slide review3-box-width mr-20">
                        <div class="review-box">
                            <div>
                                <div class="name-rating-wrap">
                                    <span class="h4 text-caption text-gray-medium">Mackenzie Fette</span>
                                    <div class="stars-wrapper">
                                        <img class="no-lazy" alt="" role="presentation" src="./assets/images/icons/star.png" />
                                        <img class="no-lazy" alt="" role="presentation" src="./assets/images/icons/star.png" />
                                        <img class="no-lazy" alt="" role="presentation" src="./assets/images/icons/star.png" />
                                        <img class="no-lazy" alt="" role="presentation" src="./assets/images/icons/star.png" />
                                        <img class="no-lazy" alt="" role="presentation" src="./assets/images/icons/star.png" />
                                    </div>
                                    <span class="rating">5.0</span>
                                </div>
                                <div class="review-body">
                                    <p>We’ve used CDB Haulers twice to transfer one of our vehicles and have always had fantastic and friendly service. As a military family who moves around a lot, we will always use CDB Haulers. </p>
                                </div>
                            </div>
                            <div class="date-wrap">
                                <span class="text-gray-medium text-small">November 8, 2022</span>
                                <div class="img-wrap">
                                    <img decoding="async" class="no-lazy" src="./assets/images/Google-logo-small.png" alt="Trustpilot-logo-small" srcset="./assets/images/Google-logo-small.png">
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="swiper-slide review3-box-width mr-20">
                        <div class="review-box">
                            <div>
                                <div class="name-rating-wrap">
                                    <span class="h4 text-caption text-gray-medium">B. Henderson</span>
                                    <div class="stars-wrapper">
                                        <img class="no-lazy" alt="" role="presentation" src="./assets/images/icons/star.png" />
                                        <img class="no-lazy" alt="" role="presentation" src="./assets/images/icons/star.png" />
                                        <img class="no-lazy" alt="" role="presentation" src="./assets/images/icons/star.png" />
                                        <img class="no-lazy" alt="" role="presentation" src="./assets/images/icons/star.png" />
                                        <img class="no-lazy" alt="" role="presentation" src="./assets/images/icons/star.png" />
                                    </div>
                                    <span class="rating">5.0</span>
                                </div>
                                <div class="review-body">
                                    <p>I recently shipped 3 motorcycles through CDB Haulers and couldn&#8217;t be happier with my choice. They were delivered without a scratch, ding or dent. I&#8217;ll use CDB Haulers to transport my bikes again.</p>
                                </div>
                            </div>
                            <div class="date-wrap">
                                <span class="text-gray-medium text-small">October 16, 2022</span>
                                <div class="img-wrap">
                                    <img decoding="async" class="no-lazy" src="./assets/images/Google-logo-small.png" alt="Trustpilot-logo-small" srcset="./assets/images/Google-logo-small.png">
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="swiper-slide review3-box-width mr-20">
                        <div class="review-box">
                            <div>
                                <div class="name-rating-wrap">
                                    <span class="h4 text-caption text-gray-medium">Carol B. </span>
                                    <div class="stars-wrapper">
                                        <img class="no-lazy" alt="" role="presentation" src="./assets/images/icons/star.png" />
                                        <img class="no-lazy" alt="" role="presentation" src="./assets/images/icons/star.png" />
                                        <img class="no-lazy" alt="" role="presentation" src="./assets/images/icons/star.png" />
                                        <img class="no-lazy" alt="" role="presentation" src="./assets/images/icons/star.png" />
                                        <img class="no-lazy" alt="" role="presentation" src="./assets/images/icons/star.png" />
                                    </div>
                                    <span class="rating">5.0</span>
                                </div>
                                <div class="review-body">
                                    <p>I experienced excellent door-to-door service. Their representatives were friendly and explained everything well. They shipped my daughter’s car across the country. We would definitely use CDB Haulers again!</p>
                                </div>
                            </div>
                            <div class="date-wrap">
                                <span class="text-gray-medium text-small">November 3, 2022</span>
                                <div class="img-wrap">
                                    <img decoding="async" class="no-lazy" src="./assets/images/Google-logo-small.png" alt="Trustpilot-logo-small" srcset="./assets/images/Google-logo-small.png">
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="swiper-slide review3-box-width mr-20">
                        <div class="review-box">
                            <div>
                                <div class="name-rating-wrap">
                                    <span class="h4 text-caption text-gray-medium">Scott Redding</span>
                                    <div class="stars-wrapper">
                                        <img class="no-lazy" alt="" role="presentation" src="./assets/images/icons/star.png" />
                                        <img class="no-lazy" alt="" role="presentation" src="./assets/images/icons/star.png" />
                                        <img class="no-lazy" alt="" role="presentation" src="./assets/images/icons/star.png" />
                                        <img class="no-lazy" alt="" role="presentation" src="./assets/images/icons/star.png" />
                                        <img class="no-lazy" alt="" role="presentation" src="./assets/images/icons/star.png" />
                                    </div>
                                    <span class="rating">5.0</span>
                                </div>
                                <div class="review-body">
                                    <p>Through CDB Haulers, I’ve shipped two cars to Hawaii. Both times were flawless. I was very impressed with the process. I will always use CDB Haulers when shipping vehicles in the future.</p>
                                </div>
                            </div>
                            <div class="date-wrap">
                                <span class="text-gray-medium text-small">December 7, 2022</span>
                                <div class="img-wrap">
                                    <img decoding="async" class="no-lazy" src="./assets/images/Google-logo-small.png" alt="Trustpilot-logo-small" srcset="./assets/images/Google-logo-small.png">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="swiper-pagination reviews-pagination"></div>
            </div>
            <div class="swiper-button-prev review-prev"></div>
            <div class="swiper-button-next review-next"></div>
        </div>
    </div>
</section>