<div class="container py-5">
    <h3 class="text-center">CDB Haulers LLC Terms of Service</h3>

    <p>Thank you for choosing CDB Haulres LLC for your vehicle’s transport. By using our vehicle
        transportation broker services, you and the person or entity you represent accept all of the terms
        and conditions of service (“TERMS”) stated herein. In the event of a conflict between these
        TERMS and those in any other document, including a motor carrier bill of lading, tariff or
        service guide, or any other documents, these TERMS will supersede and control as between you
        and CDB Haulers LLC. These TERMS cannot be modified by anyone except for CDB Haulers LLC.
    </p>

    <p>THESE TERMS CONTAIN PROVISIONS THAT GOVERN HOW CLAIMS CUSTOMER
        AND CDB HAULERS LLC MAY HAVE AGAINST EACH OTHER CAN BE BROUGHT.
        THESE PROVISIONS WILL, WITH LIMITED EXCEPTION, REQUIRE CUSTOMER TO
        SUBMIT CLAIMS CUSTOMER HAS AGAINST CDB HAULERS LLC TO BINDING AND
        FINAL ARBITRATION ON AN INDIVIDUAL BASIS, NOT AS A PLAINTIFF OR CLASS
        MEMBER IN ANY CLASS, GROUP OR REPRESENTATIVE ACTION OR PROCEEDING.
        PLEASE REVIEW SECTION 12 FOR THE DETAILS REGARDING CUSTOMER’S
        AGREEMENT TO ARBITRATE ANY DISPUTES WITH CDB HAULERS LLC.
    </p>

    <h4>1. Definitions</h4>
    <ol type="a">
        <li>
            <b>Additional Services</b>
            means upgrades and additional services ordered by the
            Customer such as vehicle top-loading, guaranteed pick up date, covered transport,
            additional personal belongings, etc.
        </li>
        <li>
            <b>Bill of Lading</b>
            means a document provided by the Carrier to the Customer at
            delivery documenting the details of the Shipment and its condition, Point of
            Origin, Destination and other details regarding the Order. Bill of Lading can serve
            as a receipt or a contract between the Carrier and Customer.
        </li>
        <li>
            <b>Carrier</b>
            means a motor carrier of property, as defined at 49 U.S.C. §13102(14),
            duly licensed by State and/or Federal Department of Transportation, or a carrier of
            goods by sea pursuant to 46 U.S.C. § 30701.
        </li>
        <li>
            <b>Carrier Form</b>
            means a receipt, inspection report, Bill of Lading, shipping order
            or similar document provided by the Carrier at Point of Origin and/or Destination.
        </li>
        <li>
            <b>C.O.D.</b>
            means collect on delivery or payment on delivery.
        </li>
        <li>
            <b>Customer</b>
            means the individual, company or other entity, including its agents
            and representatives, ordering the transportation of Shipment.
        </li>
        <li>
            <b>Customer’s Agent</b>
            means an individual over the age of 18 designated by
            Customer to act on Customer’s behalf or as an agent.
        </li>
        <li>
            <b>Destination</b>
            means the Shipment drop off location designated by the Customer
            or as later modified by mutual agreement between CDB Haulers LLC and
            Customer prior to delivery.
        </li>
        <li>
            <b></b>

        </li>
        <li>
            <b></b>

        </li>
        <li>
            <b></b>

        </li>
        <li>
            <b></b>

        </li>
        <li>
            <b></b>

        </li>
        <li>
            <b></b>

        </li>
    </ol>














</div>