<div class="container py-5">
    <h3 class="text-center">CDB Haulers LLC Terms of Service</h3>

    <p>Thank you for choosing CDB Haulres LLC for your vehicle’s transport. By using our vehicle
        transportation broker services, you and the person or entity you represent accept all of the terms
        and conditions of service (“TERMS”) stated herein. In the event of a conflict between these
        TERMS and those in any other document, including a motor carrier bill of lading, tariff or
        service guide, or any other documents, these TERMS will supersede and control as between you
        and CDB Haulers LLC. These TERMS cannot be modified by anyone except for CDB Haulers LLC.
    </p>

    <p>THESE TERMS CONTAIN PROVISIONS THAT GOVERN HOW CLAIMS CUSTOMER
        AND CDB HAULERS LLC MAY HAVE AGAINST EACH OTHER CAN BE BROUGHT.
        THESE PROVISIONS WILL, WITH LIMITED EXCEPTION, REQUIRE CUSTOMER TO
        SUBMIT CLAIMS CUSTOMER HAS AGAINST CDB HAULERS LLC TO BINDING AND
        FINAL ARBITRATION ON AN INDIVIDUAL BASIS, NOT AS A PLAINTIFF OR CLASS
        MEMBER IN ANY CLASS, GROUP OR REPRESENTATIVE ACTION OR PROCEEDING.
        PLEASE REVIEW SECTION 12 FOR THE DETAILS REGARDING CUSTOMER’S
        AGREEMENT TO ARBITRATE ANY DISPUTES WITH CDB HAULERS LLC.
    </p>

    <h5>1. Definitions</h5>
    <ol type="a">
        <li>
            <b>Additional Services</b>
            means upgrades and additional services ordered by the
            Customer such as vehicle top-loading, guaranteed pick up date, covered transport,
            additional personal belongings, etc.
        </li>
        <li>
            <b>Bill of Lading</b>
            means a document provided by the Carrier to the Customer at
            delivery documenting the details of the Shipment and its condition, Point of
            Origin, Destination and other details regarding the Order. Bill of Lading can serve
            as a receipt or a contract between the Carrier and Customer.
        </li>
        <li>
            <b>Carrier</b>
            means a motor carrier of property, as defined at 49 U.S.C. §13102(14),
            duly licensed by State and/or Federal Department of Transportation, or a carrier of
            goods by sea pursuant to 46 U.S.C. § 30701.
        </li>
        <li>
            <b>Carrier Form</b>
            means a receipt, inspection report, Bill of Lading, shipping order
            or similar document provided by the Carrier at Point of Origin and/or Destination.
        </li>
        <li>
            <b>C.O.D.</b>
            means collect on delivery or payment on delivery.
        </li>
        <li>
            <b>Customer</b>
            means the individual, company or other entity, including its agents
            and representatives, ordering the transportation of Shipment.
        </li>
        <li>
            <b>Customer’s Agent</b>
            means an individual over the age of 18 designated by
            Customer to act on Customer’s behalf or as an agent.
        </li>
        <li>
            <b>Destination</b>
            means the Shipment drop off location designated by the Customer
            or as later modified by mutual agreement between CDB Haulers LLC and
            Customer prior to delivery.
        </li>
        <li>
            <b>Inoperable</b>
            means a state or condition in which a Shipment cannot function or
            be driven for any reason including but not limited to its parts having been
            removed, altered, damaged or deteriorated such parts including but not limited to
            engine, transmission, wheels, steering mechanism, brakes, tires, etc.
        </li>
        <li>
            <b>CDB Haulers, we, us or our</b>
            means CDB Haulers LLC, its affiliates
            and subsidiaries. CDB Haulers LLC is a transportation broker as defined at 49
            U.S.C. § 13102(2), arranging for the transportation of freight through third party
            Carriers and is duly licensed by the Department of Transportation (DOT), and is
            registered with the Federal Motor Carrier Safety Administration (FMCSA) under
            Docket No. MC-1605267 and/or other government agencies as may be required by
            law. CDB Haulers LLC is not a Carrier.
        </li>
        <li>
            <b>Order</b>
            means Customer’s request for CDB Haulers LLC to arrange for the
            transportation of Customer’s Shipment.
        </li>
        <li>
            <b>Order Confirmation</b>
            means any written confirmation from CDB Haulers LLC
            to the Customer confirming the Customer’s Order and other details including but
            not limited to description of Shipment, Point of Origin, Destination, dates and
            quoted rate.
        </li>
        <li>
            <b>Point of Origin</b>
            means the Shipment pick up location designated by Customer
            or as later modified by mutual agreement between CDB Haulers LLC and
            Customer prior to transport.
        </li>
        <li>
            <b>Shipment</b>
            means the Customer’s property — an automobile or motorized
            vehicle — arranged for transportation in accordance with these TERMS.
        </li>
    </ol>

    <h5>2. Services</h5>
    <ol type="a">
        <li>
            Upon Customer’s request, CDB Haulers LLC will arrange for the transportation
            of Customer’s Shipment by Carriers subject to these TERMS. CDB Haulers LLC
            reserves the right, in its sole discretion, to refuse or cancel any Order at any time.
        </li>
        <li>
            CDB Haulers LLC's services are deemed completed when a Carrier has accepted
            Customer’s Order.
        </li>
        <li>
            Customer understands and accepts that CDB Haulers LLC (i) operates only as a
            transportation broker, (ii) is not a motor carrier or transporter, and (iii) does not
            hold itself out as providing the transportation of property
        </li>
        <li>
            Customer expressly understands and agrees that CDB Haulers LLC never takes
            custody or possession of, transports, or handles Customer’s Shipment, or assumes
            any liability for the Shipment.
        </li>
        <li>
            All ocean transportation arranged by CDB Haulers LLC will also be subject to the
            terms and conditions of the ocean Carrier’s bill of lading, tariff, schedules, rates
            and rules. Ocean Carriers offer limited liability coverage for loss or damage, and Customer must inquire with the ocean Carrier about purchasing additional
            insurance.
        </li>
        <li>
            CDB Haulers LLC shall provide Customer with an estimated pickup and estimated delivery
            date, however, delays may occur prior to, and/or during transport due to weather
            or road conditions, government regulations, mechanical problems, and other
            causes that are beyond CDB Haulers LLC's control.
            <b>CDB Haulers LLC cannot and does not guarantee delivery dates or times.</b>
            Customer understand and accepts that CDB Haulers LLC is not – responsible or liable for any losses or
            expenses caused by delays of any kind or for any reason.
        </li>
    </ol>

    <h5>3. Customer’s Responsibilities</h5>
    <ol type="a">
        <li>
            <b>Accuracy of Information.</b>
            Customer understands and accepts that only Customer
            is responsible to ensure the accuracy of all of the details including the description
            of the Shipment (year, make, model, body style, trim, etc.), Point of Origin,
            Destination, fees, and special instructions in the Order Confirmation, and as
            applicable, on the Carrier’s Form, Bill of Lading, or other required documents.
            Any changes or corrections to the Shipment description or any other changes to an
            Order may result in additional fees or cancellation of the Order. Customer waives
            all claims against CDB Haulers LLC for any additional charges or cancellation if
            the Shipment does not match the Shipment listed in the Order Confirmation.
        </li>
        <li>
            <b>Shipment size and condition.</b>
            Customer must inform CDB Haulers LLC about
            the Shipment’s size and condition at the time of booking and prior to the pick up
            date. Customer understands and accepts that if the Shipment is or becomes
            inoperable during the transit, or if the Shipment (i) is modified from the original
            equipment manufacturer (“OEM”) condition with features including but not
            limited to aftermarket spoilers, lowered chassis, height modifications, etc., (ii) is
            oversized due to but not limited to dual or oversized wheels, extra-large tires,
            racks, lifted chassis (iii) is a large vehicle such as a limousine or a hearse, then the
            Carrier may charge additional fees to transport such Shipment or refuse to
            transport the Shipment altogether.
        </li>
        <li>
            <b>Preparing Shipment.</b>
            Customer understands and accepts that Customer is
            responsible for preparing the Shipment for transportation. Customer must either
            secure or remove all loose parts, fragile accessories, low hanging spoilers, etc.
            prior to shipment. Customer must remove all non-permanent, outside mounted
            luggage and other racks prior to shipment. Shipment must be tendered to Carrier
            in operable condition with no more than a quarter tank of fuel. Customer
            understands and accepts that Customer is responsible for any damages, losses and
            claims to the Shipment, other vehicles and/or persons which are caused by any
            part of the Shipment that becomes loose or detached during the transport.
        </li>
        <li>
            <b>Alarm.</b>
            Customer must disarm any alarm system installed in the Shipment or
            provide clear instructions for disengaging it to the Carrier. In the event such alarm
            is activated during the transit, and there are no keys or instructions to turn it off, Carrier may be forced to silence alarm by any reasonable means available and
            without recourse by Customer.
        </li>
        <li>
            <b>Personal Property.</b>
            Customer may leave one suitcase <b>OR</b> one bag carrying
            personal property which shall not exceed one hundred pounds (100 lbs.) and must
            be confined to the trunk or storage area of the Shipment. Customer must notify
            CDB Haulers LLC and Carrier of such personal property in the Shipment at the
            Point of Origin prior to loading of the Shipment. Customer understands and
            accepts that the Carrier has the right to reject any personal property in the
            Shipment if transporting such personal property is unsafe or violates the law.
            Customer is advised not to leave any negotiable instruments, legal papers, jewelry,
            furs, money, cash or currency, antiques, or any valuable articles in the Shipment.
            Customer understands and accepts that the Carrier and CDB Haulers LLC are not
            liable for personal items of any kind and value left in the Shipment, or for damage
            to Shipment caused by excessive or improper loading of personal items. If
            Customer puts personal property in the Shipment, Customer does so at Customer’s
            own risk.
        </li>
        <li>
            <b>Prohibited Items.</b>
            Customer understands and accepts that Customer is <b>expressly
                prohibited</b> from loading any explosives, guns, ammunition, weapons, flammable
            products, live pets, live plants, any contraband, drugs or narcotics, alcoholic
            beverages, and or any illegal goods in the Shipment. Customer understands and
            accepts that upon discovery, such prohibited items and/or the Shipment may be
            confiscated or disposed of by law enforcement, or the Carrier and the Order may
            be cancelled in entirety without any remuneration or compensation to Customer
            and Customer will be solely responsible for any fees, fines, damages, or other
            liabilities arising from a violation of this Section.
        </li>
        <li>
            <b>Shipment by sea.</b>
            Customer understands and accepts that no personal property of
            any nature or value and no illegal goods will be allowed in the Shipment for
            transportation by sea and Customer will ensure that the Shipment is completely
            empty except for OEM or factory installed equipment. Customer is responsible for
            furnishing all required documents and paperwork required by U.S. and
            international customs. Customer must share the vehicle identification number
            (VIN) and its approximate value in U.S. dollars at the time of placing the Order. If
            the Point of Origin or Destination is a shipping port, then Customer agrees to pay
            any associated additional fees.
        </li>
    </ol>

    <h5>4. Customer Warranties</h5>
    <p>Customer warrants that Customer will comply with all applicable laws, rules, and
        regulations including but not limited to customs laws, import and export laws and
        governmental regulation of any country to, from, through or over which the Shipment
        may be carried. Customer agrees to furnish such information and documents as are
        necessary to comply with applicable laws, rules and regulations. CDB Haulers LLC
        assumes no liability to Customer or to any other person for any loss or expense due to
        Customer’s failure to comply with this provision. Any Customer’s Agent and/or entity
        acting on behalf of Customer also warrants that it has the right to act on behalf of Customer and the
        right to legally bind Customer.
    </p>

    <h5>5. Pickup and Delivery of Shipment</h5>
    <ol type="a">
        <li>Customer understands and accepts that a change to Point of Origin and/or
            Destination may be necessary due to municipal zoning restrictions, road
            conditions, road closures, low hanging trees, low hanging wires, narrow streets,
            residential area restrictions, etc.
        </li>
        <li>If the Carrier is unable to access the Point of Origin or Destination, Customer
            agrees to meet the Carrier at an alternate location in order for the Carrier to safely
            pick up or drop off the Shipment.
        </li>
        <li>Customer must be present at the Point of Origin and Destination for the pickup
            and/or delivery of a Shipment, or Customer must designate a Customer’s Agent if
            Customer is unavailable for any reason.
        </li>
        <li>At the time of pickup at the Point of Origin, Customer or Customer’s Agent
            agrees to 1) carefully inspect the Shipment with the Carrier for pre-existing
            damage, and 2) acknowledge the condition of the Shipment by a) noting any preexisting damage on the Carrier Form or Bill of Lading, b) signing the Carrier
            Form or Bill of Lading, and c) requesting a copy of same from the Carrier.
            Customer or Customer’s Agent is also urged to photograph the Shipment from all
            angles at the Point of Origin.
        </li>
        <li>At the time of delivery at Destination, Customer or Customer Agent agrees to
            carefully inspect the Shipment in the presence of the Carrier for possible transit
            damage and clearly notate any new damage as exception on the Bill of Lading.
            Customer or Customer’s Agent agrees to sign and require a final copy of the Bill
            of Lading signed by the Carrier to serve as a final Shipment condition report,
            especially in case of a dispute with the Carrier. Again, Customer or Customer’s
            Agent is urged to photograph the Shipment from all angles prior to signing the
            Bill of Lading.
        </li>
        <li>Customer understands and accepts that Customer’s or Customer Agent’s signing
            of the Carrier’s Form or Bill of Lading at Destination <b>without</b> any notation of any
            damage regardless of the lighting or weather conditions at the time of inspection,
            will serve as confirmation that Customer received the Shipment at destination in
            satisfactory condition and that CDB Haulers LLC and the Carrier will have no
            further responsibility.
        </li>
    </ol>

    <h5>6. Carrier Responsibilities</h5>
    <ol type="a">
        <li>Carrier shall (i) pick up and deliver Customer’s Shipment as close to Customer’s
            door or Customer’s designated Point of Origin and Destination as legally and
            safely possible, and (ii) transport the Shipment in a commercially reasonable
            manner.</li>
        <li>Carrier may issue a Carrier Form, receipt or Bill of Lading at the Point of Origin
            and/or Destination. Customer or Customer’s Agent agrees to read such Carrier
            Form carefully as it may constitute a contract of transportation as between
            Customer and Carrier, and Customer will contact Carrier directly with any
            disputes or questions regarding such documents.</li>
        <li>Customer understands and agrees that Customer may also be subject to the
            Carrier’s terms and conditions of service, tariffs, rules or classification, copies of
            which must be requested by the Customer directly from the Carrier.</li>
    </ol>

    <h5>7. Fees and Payment</h5>
    <ol type="a">
        <li>Customer agrees to pay all amounts due in full for each Order and any Additional
            Services as per the terms of the Order Confirmation and these TERMS without
            any offsets, chargebacks or reductions by Customer for any actual, pending or
            unfiled claims, losses, delays, or damages. Payment for CDB Haulers LLC's
            services is due when a Carrier accepts an Order as CDB Haulers LLC's services
            have been rendered at that point.
        </li>
        <li>All payments for the balance due to Carrier for C.O.D. must be made on or before
            the delivery of Shipment in the form of cash, certified funds, cashier’s check or
            money order made payable to the Carrier. <b>Customer WILL NOT use personal
                checks, debit or credit card when making payments to the Carrier.</b>
        </li>
        <li>Any outstanding invoices for CDB Haulers LLC's services shall accrue an interest
            rate of one and a half percent (1.5%) per month and Customer shall be liable to
            CDB Haulers LLC for all expenses incurred by CDB Haulers LLC, plus reasonable
            attorney’s fees, to collect any outstanding charges.
        </li>
        <li>If Shipment is placed in storage due to Customer’s refusal to pay the fees or accept
            delivery from the Carrier for any reason, then the Shipment may be placed in
            storage at Customer’s expense and subject to Carrier’s lien for transportation
            charges until Customer pays in full the outstanding balance. Any and all storage
            and redelivery charges will be the responsibility of Customer and Customer agrees
            that Customer will not look to CDB Haulers LLC for reimbursement.
        </li>
    </ol>

    <h5>8. Cancellation and Refund Policy</h5>
    <ol type="a">
        <li>Customer may cancel an Order at any time at no cost or cancellation fees as long
            as the Order has not yet been accepted by a Carrier. If the Order is canceled for
            any reason after a Carrier accepts the Order, such reasons including but not limited
            to Customer canceling an Order, CDB Haulers LLC canceling an Order due to the
            Customer’s breach of these TERMS or if the Carrier is denied pick up of the
            Shipment for any reason when the Carrier arrives at the Point of Origin, then the
            Customer agrees to pay a minimum of two hundred and forty nine dollars
            ($249.00) in cancellation fees as CDB Haulers LLC's services have been rendered
            at that point. Customer understands and accepts that the Customer may be subject
            to additional cancellation fees including but not limited to a dry run fee imposed by
            a Carrier and other vendors contracted to fulfill Customer’s Order.
        </li>
        <li>Customer is entitled to a refund for only the unfulfilled portion of the services. If
            Additional Services were paid for but not rendered for any reason and the
            Shipment was delivered, the sole remedy for the Customer shall be a refund for
            the unfulfilled portion of the Additional Services fees.</li>
        <li>Cancellation of an Order by Customer must be submitted in writing via email sent
            to info@cdbhaulers.com. Cancellations made via telephone, text, chat or any other
            medium will not be accepted by CDB Haulers LLC.</li>
    </ol>

    <h5>9. Loss, Damage or Delay Claims</h5>
    <ol type="a">
        <li>CDB Haulers LLC is a property transportation broker, therefore, is not and will
            not be liable for any cargo loss and damage claims for any reason.</li>
        <li>If Customer has a claim for loss or damage to a Shipment, then Customer
            understands and agrees that the party liable for all such claims is the Carrier and
            not CDB Haulers LLC, and it is Customer’s responsibility to file any claim directly
            with the Carrier who transported the Shipment.</li>
        <li>If Customer decides to file a claim against the Carrier, Customer must promptly
            report such claim to CDB Haulers LLC, but in no event later than forty-eight (48)
            hours of the delivery, so CDB Haulers LLC may provide the Customer with
            relevant documents regarding the Carrier in a commercially reasonable manner.</li>
        <li>Customer is hereby informed and understands that claims against motor Carriers
            are governed by federal law, the Carmack Amendment to the ICC Termination Act
            of 1995, 49 U.S.C. §14706, and claims against ocean Carriers are typically
            governed by the Carriage of Goods by Sea Act, 46 U.S.C. §30701. Customer is
            urged to seek independent legal advice (at Customer’s sole expense) on these laws
            in the event of a claim.</li>
        <li>Customer understands and agrees that CDB Haulers LLC and Carrier are not
            liable for any cargo loss or damage caused by any acts or omissions that are out of
            CDB Haulers LLC's or Carrier’s control including but not limited to damage
            caused by weather conditions including hail, storm or other acts of God, riots,
            strikes, political unrest, acts of terrorism, loose, worn, or broken parts of a
            Shipment, personal items in the Shipment.</li>
    </ol>

    <h5>10. Indemnification</h5>
    <p>Customer agrees to indemnify, defend and hold CDB Haulers LLC and our affiliates, and
        our and their employees, officers and directors harmless from and against any and all
        losses, liabilities, damages, payments, settlements, judgments, penalties, fines, expenses,
        (including reasonable attorneys’ fees), and costs, suits, actions and claims (whether actual,
        potential, threatened or pending), brought by any person or entity, including damages for injury or death of persons and/or damage to property, including real property
        and/or the environment, claim liability and damages, arising from the acts or omissions of
        Customer, its agents, employees or representatives.
    </p>

    <h5>11. Disclaimer and Limitation of Liability</h5>
    <ol type="a">
        <li>The total cumulative liability of CDB Haulers LLC for any and all claims and
            damages, whether arising from statute, contract, tort or otherwise, shall not under
            any circumstances exceed the total fees paid by Customer to CDB Haulers LLC
            for CDB Haulers LLC's services under the respective Order Confirmation.</li>
        <li>EXCEPT AS OTHERWISE PROVIDED HEREIN, CDB HAULERS LLC
            MAKES NO WARRANTIES FOR ANY OF ITS SERVICES AND HEREBY
            DISCLAIMS ALL WARRANTIES OR REPRESENTATIONS, EXPRESSED OR
            IMPLIED, INCLUDING ANY IMPLIED WARRANTIES OF TITLE, NONINFRINGEMENT, MERCHANTABILITY, FITNESS FOR A PARTICULAR
            PURPOSE OR USE, AND ANY WARRANTIES ARISING FROM COURSE OF
            DEALING, USAGE OR TRADE PRACTICE.</li>
        <li>UNDER NO CIRCUMSTANCES WILL CDB HAULERS LLC BE LIABLE OR
            RESPONSIBLE FOR ANY DIRECT, INDIRECT, INCIDENTAL,
            CONSEQUENTIAL (INCLUDING DAMAGES FROM LOSS OF BUSINESS,
            LOST PROFITS, LITIGATION, OR THE LIKE), SPECIAL, EXEMPLARY,
            PUNITIVE, OR OTHER DAMAGES, UNDER ANY LEGAL THEORY,
            ARISING OUT OF OR IN ANY WAY RELATING TO A SHIPMENT OR
            THESE TERMS, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH
            DAMAGES.</li>
    </ol>

    <h5>12. Arbitration</h5>
    <ol type="a">
        <li>
            <b>Arbitration.</b>
            Any dispute, controversy, or claim between the parties arising out of
            or relating in any way to these TERMS, an Order, CDB Haulers LLC's services or
            any other Customer engagement with CDB Haulers LLC will be resolved by
            binding arbitration, rather than in court, except that Customer or CDB Haulers
            LLC (1) must assert claims in small claims court if Customer’s or our claims
            qualify, and (2) bring suit in any court of competent jurisdiction to enjoin
            infringement or other misuse of intellectual property rights, including with respect
            to temporary restraining orders. The Federal Arbitration Act and federal
            arbitration law shall apply to this arbitration agreement.
            There is no judge or jury in arbitration, and court review of an arbitration award is
            limited. However, an arbitrator can award the same damages and relief as a court
            (including injunctive and declaratory relief or statutory damages).
            At least thirty (30) days before beginning an arbitration proceeding, Customer
            must send an individualized letter personally signed by Customer and identifying
            Customer, Customer’s legal claims, the requested relief and requesting arbitration to CDB Haulers LLC – 8765 14th Ave., Apt 1, Brooklyn, NY 11228 by certified
            mail, Federal Express, UPS or USPS express mail (signature required). We will
            do the same; except in the event that we do not have a physical address on file for
            Customer, by electronic mail to the last known address. Except as otherwise
            stated herein, the arbitration will be conducted by the National Arbitration
            Mediation (“NAM”) under its rules, including for Consumer-Related Disputes.
            Customer and CDB Haulers LLC also agree to delegate the issue of arbitrability
            to an arbitrator. Payment of administration and arbitrator fees will be governed by
            the NAM’s rules, except all of the filing fees will be paid by the filing party. If
            Customer is a prevailing party, Customer may seek reimbursement of Customer’s
            fees and costs. However, CDB Haulers LLC may seek our attorney’s fees and
            costs if the arbitration finds Customer’s claims to be frivolous. There will be only
            one arbitrator, not a panel. Customer may choose to have the arbitration
            conducted by telephone, based on written submissions, or in person in the county
            where Customer lives or at another mutually agreed location. Customer and CDB
            Haulers LLC also agree that, if more than one dispute arises regarding the same or
            substantially similar issues, the parties’ respective claim(s) will be arbitrated in
            the order in which it/they were filed, except all claims shall be arbitrated within
            three (3) years. THIS ARBITRATION AGREEMENT WILL SURVIVE
            TERMINATION OF THESE TERMS.
        </li>
        <li>
            <b>Class Action Waiver.</b>
            The parties each agree that any dispute resolution
            proceedings or lawsuits, whether in arbitration or in a court of law, will be
            conducted only on an individual basis and not in a class or representative action.
            Therefore, Customer waives all rights to bring claims on behalf of a class of
            persons; however, Customer may still bring an individual claim for public
            injunctive relief and in small claims court. Nothing in this provision, however,
            should operate to prevent the parties from settling claims on a class-wide basis or
            otherwise coordinating claims filed in arbitration.
        </li>
        <li>
            <b>Enforceability.</b>
            . If this arbitration agreement is invalidated in whole or part, the
            parties agree that the exclusive jurisdiction in the section below entitled
            “Governing Law; Jurisdiction” shall govern any claim in court arising out of or
            related to these Terms.
        </li>
        <li>
            <b>Jury Trial and Small Claims Court.</b>
            If for any reason a claim proceeds in court
            rather than in arbitration, the parties each waive any right to a jury trial. The
            parties also both agree that Customer or CDB Haulers LLC may bring suit in any
            court of competent jurisdiction to enjoin infringement or other misuse of
            intellectual property rights, including with respect to temporary restraining
            orders.
        </li>
    </ol>

    <h5>13. Additional Terms for California Residents</h5>
    <ol type="a">
        <li>
            <b>User Complaints.</b>
            Under Cal. Civ. Code § 1789.3, California users are entitled to
            know that they may file grievances and complaints with the Complaint Assistance
            Unit of the Division of Consumer Services of the California Department of
            Consumer Affairs, in writing at 1625 North Market Blvd., Suite N 112, Sacramento CA 95834, or by telephone at (916) 445-1254 or (800) 952-5210 or
            by email at dca@dca.ca.gov.
        </li>
    </ol>

    <h5>14. Governing Law; Jurisdiction</h5>
    <p>These TERMS shall be construed in accordance with Title 49, United States Code and be
        governed by the laws of the State of Illinois without regard to any conflict of law
        principles. Further, the parties agree to the jurisdiction of a state or federal court in the
        State of Illinois to resolve any dispute, claim, or controversy that relates to or arises in
        connection with these TERMS (and any non-contractual disputes and/or claims relating
        to or arising in connection with it) and that is not subject to mandatory arbitration under
        Section 12 above.
    </p>

    <h5>15. Miscellaneous</h5>
    <ol type="a">
        <li>Nothing contained in these TERMS or Customer’s use of CDB Haulers LLC's
            services shall be construed to constitute either party as a partner, joint venturer,
            employee or agent of the other party, nor shall either party hold itself out as such.
            Neither party has any right or authority to incur, assume or create, in writing or
            otherwise, any warranty, liability or other obligation of any kind, express or
            implied, in the name of or on behalf of the other party, it being intended by both
            parties that each shall remain independent contractors responsible for its own
            actions.
        </li>
        <li>Except as expressly set forth in these TERMS, Customer may not assign any rights
            hereunder without CDB Haulers LLC's prior written consent. These TERMS are
            binding on and inure to the benefit of the parties and their respective successors
            and permitted assigns.
        </li>
        <li>If any provision of these TERMS shall be adjudged by any court of competent
            jurisdiction to be unenforceable or invalid, that provision shall be limited or
            eliminated to the minimum extent necessary so that these TERMS will otherwise
            remain in full force and effect.</li>
        <li>These TERMS supersede all prior written or oral representations and constitute the
            entire agreement between Customer and CDB Haulers LLC and may not be
            changed by anyone except for CDB Haulers LLC. Customer warrants that Customer
            has read these TERMS in their entirety and by continuing with the transaction,
            fully understands and agrees to them.
        </li>
        <li>Customer waives any claims or defenses based in whole or in part on Customer
            not having read, not knowing, or not understanding these TERMS.</li>
        <li>The failure of CDB Haulers LLC to exercise or enforce any right or provision of
            these TERMS shall not operate as a waiver of such right or provision. Any waiver
            of these TERMS by CDB Haulers LLC must be in writing and signed by an
            authorized representative of CDB Haulers LLC.</li>
        <li>CDB Haulers LLC reserves the right to use Customer’s name and/or CDB Haulers
            LLC name, logo, and trademarks and to identify Customer as a CDB Haulers LLC
            customer, and for other similar marketing or promotional purposes on CDB
            Haulers LLC's websites and in other communications and collateral materials
            provided to with existing or potential CDB Haulers LLC customers, partners, and
            investors. To decline CDB Haulers LLC this right Customer must email
            privacy@cdbhaulers.com stating that Customer does not wish to be used as a
            reference.
        </li>
        <li>These TERMS constitutes the entire agreement between Customer and CDB
            Haulers LLC and governs the terms and conditions of Customer’s use of our
            services, and supersedes all prior or contemporaneous communications and
            proposals, whether electronic, oral or written, between Customer and CDB
            Haulers LLC with respect to such services. Notwithstanding the foregoing,
            Customer may also be subject to additional terms and conditions, posted policies
            (including but not limited to the Privacy Policy), guidelines, or rules that may
            apply when Customer uses CDB Haulers LLC's services.
        </li>
    </ol>
</div>