<app-bread-crumbs [img_url]="'trucks.jpg'">
    <div class="row w-100">
        <div class="col-11 col-10 col-md-7 col-lg-6">
            <h1 class="text-light">{{ 'customers.auto.auctions.title1' | translate }}</h1>

            <div class="g-container">
                <ul id="list-example" class="list-unstyled" style="--s: 4">
                    <li>
                        <div (click)="goTo('block-1')" class="text-light">
                            {{ 'customers.auto.auctions.text1' | translate }}
                            <i class="fa fa-arrow-right ms-3"></i>
                        </div>
                    </li>
                    <li>
                        <div (click)="goTo('block-2')" class="text-light">
                            {{ 'customers.auto.auctions.text2' | translate }}
                            <i class="fa fa-arrow-right ms-3"></i>
                        </div>
                    </li>
                    <li>
                        <div (click)="goTo('block-3')" class="text-light">
                            {{ 'customers.auto.auctions.text3' | translate }}
                            <i class="fa fa-arrow-right ms-3"></i>
                        </div>
                    </li>
                    <li>
                        <div (click)="goTo('block-4')" class="text-light">
                            {{ 'customers.auto.auctions.text4' | translate }}
                            <i class="fa fa-arrow-right ms-3"></i>
                        </div>
                    </li>
                    <li>
                        <div (click)="goTo('block-1')" class="text-light">
                            {{ 'customers.auto.auctions.text1' | translate }}
                            <i class="fa fa-arrow-right ms-3"></i>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</app-bread-crumbs>




<div data-mdb-spy="scroll" data-mdb-target="#list-example" data-mdb-offset="0">


    <div class="container">
        <app-section-title [title]="'customers.auto.auctions.sub-title1' | translate"></app-section-title>
        <p class="text-center">{{ 'customers.auto.auctions.paragraph1' | translate }}</p>

        <img loading="lazy" data-aos="flip-up" data-aos-duration="2000" src="./assets/images/header.jpg" class="w-100 my-4 rounded"
            alt="Service image">
    </div>




    <div class="container mb-5 pb-5">
        <app-section-title [title]="'customers.auto.auctions.sub-title2' | translate"></app-section-title>

        <p class="text-center">{{ 'customers.auto.auctions.paragraph2' | translate }}</p>


        <div class="row mt-5" id="block-1">
            <div data-aos="flip-right" data-aos-duration="2000" class="col-11 col-sm-8 col-md-6 mx-auto mt-5">
                <div class="d-flex align-items-center h-100">
                    <div>
                        <h3>{{ 'customers.auto.auctions.sub-title3' | translate }}</h3>
                        <p>{{ 'customers.auto.auctions.paragraph3' | translate }}</p>
                    </div>
                </div>
            </div>
            <div data-aos="flip-left" data-aos-duration="2500" class="col-11 col-sm-8 col-md-6 mx-auto mt-5">
                <img loading="lazy" src="./assets/images/carshop-nottingham.jpg" alt="Service image" class="img-fluid rounded">
            </div>
        </div>


        <div class="row mt-5 sm-reverse" id="block-2">
            <div data-aos="zoom-in" data-aos-duration="2000" class="col-11 col-sm-8 col-md-6 mx-auto mt-5">
                <div class="d-flex align-items-center h-100">
                    <div>
                        <h3>{{ 'customers.auto.auctions.sub-title4' | translate }}</h3>
                        <p>{{ 'customers.auto.auctions.paragraph4' | translate }}</p>
                    </div>
                </div>
            </div>
            <div data-aos="zoom-in" data-aos-duration="2500" class="col-11 col-sm-8 col-md-6 mx-auto mt-5">
                <img loading="lazy" src="./assets/images/istockphoto.jpg" alt="You Tube link" class="img-fluid rounded">
            </div>
        </div>


        <div class="row mt-5" id="block-3">
            <div data-aos="flip-right" data-aos-duration="2000" class="col-11 col-sm-8 col-md-6 mx-auto mt-5">
                <div class="d-flex align-items-center h-100">
                    <div>
                        <h3>{{ 'customers.auto.auctions.sub-title5' | translate }}</h3>
                        <p>{{ 'customers.auto.auctions.paragraph5' | translate }}</p>
                    </div>
                </div>
            </div>
            <div data-aos="flip-right" data-aos-duration="2500" class="col-11 col-sm-8 col-md-6 mx-auto mt-5">
                <img loading="lazy" src="./assets/images/carshop-nottingham.jpg" alt="Service image" class="img-fluid rounded">
            </div>
        </div>

    </div>




    <div id="block-4" class="mb-5 bg-img jarallax"
        style="background-image: linear-gradient(rgba(0, 0, 0, .5),rgba(0, 0, 0, .5)), url(./assets/images/modern-dark.jpg);">
        <div class="container">

            <div class="row">
                <div data-aos="flip-left" data-aos-duration="2000"
                    class="col-11 col-sm-8 col-md-6 mx-auto py-5 d-flex align-items-center">
                    <img loading="lazy" src="./assets/images/showroom.jpg" class="w-100 rounded" alt="Service image">
                </div>
                <div data-aos="flip-left" data-aos-duration="2500" class="col-11 col-sm-8 col-md-6 mx-auto p-5 ms-auto">
                    <div class="d-f-a-c-j-c h-100">
                        <div>
                            <h3 class="text-light">{{ 'customers.auto.auctions.sub-title6' | translate }}</h3>
                            <p class="text-light">{{ 'customers.auto.auctions.paragraph6' | translate }}</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>