#carouselBasicExample {
    h5, p {
        margin-bottom: 0;
        padding-bottom: 20px;
        color: #fff;
    }

    .carousel-inner {
        min-height: 500px;
        display: block;

        .carousel-item,
        .carousel-item.active {
            min-height: 500px !important;

            img {
                min-height: 500px;
                object-fit: cover;
            }
        }
    }

    .carousel-caption {
        padding: 20px 20px;
        background-color: rgba(0, 0, 0, 0.438)
    }
}

@media screen and (max-width: 500px) {
    .carousel {
        h5 { font-size: 16px !important;}
        p { font-size: 10 !important; }
    }
}