<app-bread-crumbs img_url="car.jpg">
    <div class="row w-100">
        <div class="col-11 col-sm-10 col-md-10 col-lg-8 col-xl-8 text-center mx-auto">
            <h2 data-aos="fade-up" data-aos-duration="2000" class="text-light">
                {{ 'customers.freight.manufacturers.title1' | translate }}
            </h2>
            <p data-aos="fade-up" data-aos-duration="2500" class="text-light">
                {{ 'customers.freight.manufacturers.text1' | translate }}
            </p>
        </div>
    </div>
</app-bread-crumbs>








<!-- large text -->
<div class="container mt-5">
    <div class="card">
        <div class="row w-100">
            <div data-aos="flip-right" data-aos-duration="2000"
                class="col-12 col-sm-10 col-md-5 col-lg-6 mx-auto py-4 px-5 mt-4">
                <h3 class="my-4">{{ 'customers.freight.manufacturers.sub-title1' | translate }}</h3>

                <p>{{ 'customers.freight.manufacturers.paragraph1' | translate }}</p>
            </div>

            <div data-aos="flip-left" data-aos-duration="2500"
                class="col-12 col-sm-10 col-md-5 col-lg-6 mx-auto py-4 px-5 mt-4">
                <h3 class="my-4">{{ 'customers.freight.manufacturers.sub-title2' | translate }}</h3>

                <p>{{ 'customers.freight.manufacturers.paragraph2' | translate }}</p>
            </div>
        </div>
    </div>
</div>







<!-- large image block -->
<div class="container">
    <app-section-title [title]="'customers.freight.manufacturers.text2' | translate"></app-section-title>

    <!-- Carousel wrapper -->
    <div id="carouselBasicExample" class="carousel slide carousel-fade" data-mdb-ride="carousel"
        data-mdb-interval="false">
        <!-- Indicators -->
        <div class="carousel-indicators">
            <button type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide-to="2"
                aria-label="Slide 3"></button>
            <button type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide-to="3"
                aria-label="Slide 4"></button>
            <button type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide-to="4"
                aria-label="Slide 5"></button>
        </div>

        <!-- Inner -->
        <div class="carousel-inner">
            <!-- Single item -->
            <div class="carousel-item active" data-mdb-interval="300000">
                <img loading="lazy" src="./assets/images/manufacture/aa.jpg" class="d-block w-100" alt="Sunset Over the City" />
                <div class="carousel-caption">
                    <h5>{{ 'customers.freight.manufacturers.c-title1' | translate }}</h5>
                    <p>{{ 'customers.freight.manufacturers.c-text1' | translate }}</p>
                </div>
            </div>

            <!-- Single item -->
            <div class="carousel-item" data-mdb-interval="300000">
                <img loading="lazy" src="./assets/images/manufacture/african_american_worker_her_coworker_reading_order_list_before_shipment.jpg"
                    class="d-block w-100" alt="Canyon at Nigh" />
                <div class="carousel-caption">
                    <h5>{{ 'customers.freight.manufacturers.c-title2' | translate }}</h5>
                    <p>{{ 'customers.freight.manufacturers.c-text2' | translate }}</p>
                </div>
            </div>

            <!-- Single item -->
            <div class="carousel-item" data-mdb-interval="300000">
                <img loading="lazy" src="./assets/images/manufacture/close-up-warehouse-view.jpg" class="d-block w-100"
                    alt="Cliff Above a Stormy Sea" />
                <div class="carousel-caption">
                    <h5>{{ 'customers.freight.manufacturers.c-title3' | translate }}</h5>
                    <p>{{ 'customers.freight.manufacturers.c-text3' | translate }}</p>
                </div>
            </div>

            <!-- Single item -->
            <div class="carousel-item" data-mdb-interval="300000">
                <img loading="lazy" src="./assets/images/manufacture/diverse_employees_analyzing_inventory_list_laptop_counting_products.jpg"
                    class="d-block w-100" alt="Canyon at Nigh" />
                <div class="carousel-caption">
                    <h5>{{ 'customers.freight.manufacturers.c-title4' | translate }}</h5>
                    <p>{{ 'customers.freight.manufacturers.c-text4' | translate }}</p>
                </div>
            </div>

            <!-- Single item -->
            <div class="carousel-item" data-mdb-interval="300000">
                <img loading="lazy" src="./assets/images/manufacture/pp.jpg" class="d-block w-100" alt="Cliff Above a Stormy Sea" />
                <div class="carousel-caption">
                    <h5>{{ 'customers.freight.manufacturers.c-title5' | translate }}</h5>
                    <p>{{ 'customers.freight.manufacturers.c-text5' | translate }}</p>
                </div>
            </div>
        </div>
        <!-- Inner -->

        <!-- Controls -->
        <button class="carousel-control-prev" type="button" data-mdb-target="#carouselBasicExample"
            data-mdb-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-mdb-target="#carouselBasicExample"
            data-mdb-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>








<!-- icon block -->
<div class="container pb-5">
    <app-section-title [title]="'customers.freight.manufacturers.service1' | translate"></app-section-title>

    <div class="row">
        <div data-aos="flip-up" data-aos-duration="2000" data-aos-anchor-placement="center-bottom"
            class="mx-auto mt-5 col-11 col-sm-8 col-md-5 col-lg-4">
            <div class="icon-block">
                <div class="icon">
                    <i class="fa fa-box"></i>
                </div>
                <div class="text">
                    <h5>{{ 'customers.freight.manufacturers.service1' | translate }}</h5>
                    <p>{{ 'customers.freight.manufacturers.s-text1' | translate }}</p>
                </div>
            </div>
        </div>
        <div data-aos="flip-right" data-aos-duration="2300" data-aos-anchor-placement="center-bottom"
            class="mx-auto mt-5 col-11 col-sm-8 col-md-5 col-lg-4">
            <div class="icon-block">
                <div class="icon">
                    <i class="fa fa-box-open"></i>
                </div>
                <div class="text">
                    <h5>{{ 'customers.freight.manufacturers.service2' | translate }}</h5>
                    <p>{{ 'customers.freight.manufacturers.s-text2' | translate }}</p>
                </div>
            </div>
        </div>
        <div data-aos="flip-right" data-aos-duration="2600" data-aos-anchor-placement="center-bottom"
            class="mx-auto mt-5 col-11 col-sm-8 col-md-5 col-lg-4">
            <div class="icon-block">
                <div class="icon">
                    <i class="fa fa-truck-ramp-box"></i>
                </div>
                <div class="text">
                    <h5>{{ 'customers.freight.manufacturers.service3' | translate }}</h5>
                    <p>{{ 'customers.freight.manufacturers.s-text3' | translate }}</p>
                </div>
            </div>
        </div>
        <div data-aos="flip-right" data-aos-duration="2000" data-aos-anchor-placement="center-bottom"
            class="mx-auto mt-5 col-11 col-sm-8 col-md-5 col-lg-4">
            <div class="icon-block">
                <div class="icon">
                    <i class="fa fa-gauge-high"></i>
                </div>
                <div class="text">
                    <h5>{{ 'customers.freight.manufacturers.service4' | translate }}</h5>
                    <p>{{ 'customers.freight.manufacturers.s-text4' | translate }}</p>
                </div>
            </div>
        </div>
        <div data-aos="flip-right" data-aos-duration="2300" data-aos-anchor-placement="center-bottom"
            class="mx-auto mt-5 col-11 col-sm-8 col-md-5 col-lg-4">
            <div class="icon-block">
                <div class="icon">
                    <i class="fa fa-boxes-stacked"></i>
                </div>
                <div class="text">
                    <h5>{{ 'customers.freight.manufacturers.service5' | translate }}</h5>
                    <p>{{ 'customers.freight.manufacturers.s-text5' | translate }}</p>
                </div>
            </div>
        </div>
        <div data-aos="flip-right" data-aos-duration="2600" data-aos-anchor-placement="center-bottom"
            class="mx-auto mt-5 col-11 col-sm-8 col-md-5 col-lg-4">
            <div class="icon-block">
                <div class="icon">
                    <i class="fa-solid fa-stopwatch"></i>
                </div>
                <div class="text">
                    <h5>{{ 'customers.freight.manufacturers.service6' | translate }}</h5>
                    <p>{{ 'customers.freight.manufacturers.s-text6' | translate }}</p>
                </div>
            </div>
        </div>
        <div data-aos="flip-right" data-aos-duration="2000" data-aos-anchor-placement="center-bottom"
            class="mx-auto mt-5 col-11 col-sm-8 col-md-5 col-lg-4">
            <div class="icon-block">
                <div class="icon">
                    <i class="fa-solid fa-shield"></i>
                </div>
                <div class="text">
                    <h5>{{ 'customers.freight.manufacturers.service7' | translate }}</h5>
                    <p>{{ 'customers.freight.manufacturers.s-text7' | translate }}</p>
                </div>
            </div>
        </div>
        <div data-aos="flip-right" data-aos-duration="2300" data-aos-anchor-placement="center-bottom"
            class="mx-auto mt-5 col-11 col-sm-8 col-md-5 col-lg-4">
            <div class="icon-block">
                <div class="icon">
                    <i class="fa-solid fa-warehouse"></i>
                </div>
                <div class="text">
                    <h5>{{ 'customers.freight.manufacturers.service8' | translate }}</h5>
                    <p>{{ 'customers.freight.manufacturers.s-text8' | translate }}</p>
                </div>
            </div>
        </div>
        <div data-aos="flip-right" data-aos-duration="2600" data-aos-anchor-placement="center-bottom"
            class="mx-auto mt-5 col-11 col-sm-8 col-md-5 col-lg-4">
            <div class="icon-block">
                <div class="icon">
                    <i class="fa-solid fa-file-lines"></i>
                </div>
                <div class="text">
                    <h5>{{ 'customers.freight.manufacturers.service9' | translate }}</h5>
                    <p>{{ 'customers.freight.manufacturers.s-text9' | translate }}</p>
                </div>
            </div>
        </div>
    </div>
</div>