#main-bar {
    min-height: 90vh;
    position: relative;
    background: transparent;
    word-wrap: break-word;

    // background video
    #main-bar-video {
        position: absolute;
        width: auto;
        height: 100%;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        object-fit: cover;
        z-index: -1;
    }


    // form style
    .form-block {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
    }
}




@media screen and (max-width: 576px) {
    #main-bar #main-bar-video {
        height: 70%;
    }
}