<section id="main-bar">

    <div class="form-block flex-column">
        <div class="row">
            <div class="col-11 col-sm-10 col-md-6 mx-auto text-center">
                <h2 data-aos="flip-up" data-aos-duration="1800" class="fw-bold">{{ 'customers.freight.recyclers.title1' | translate }}</h2>
                <p data-aos="flip-up" data-aos-duration="2300"  class="fw-bold">{{ 'customers.freight.recyclers.text1' | translate }}</p>
                <p data-aos="flip-up" data-aos-duration="2500"  class="fw-bold">{{ 'customers.freight.recyclers.text2' | translate }}</p>
            </div>
        </div>
    </div>

    <video id="main-bar-video" #videoRef preload autoplay playsinline loop muted>
        <source src="./assets/recycles.mp4" type="video/mp4">
    </video>

</section>






<div class="container">
    <div class="py-5 my-5 d-f-a-c-j-c text-center">
        <div>
            <app-section-title [title]="'customers.freight.recyclers.title2' | translate"></app-section-title>
            <p class="fw-bold mb-5 px-5">{{ 'customers.freight.recyclers.description1' | translate }}</p>
        </div>
    </div>
</div>



<div class="container">

    <div class="row sm-reverse">
        <div class="mx-auto me-md-0 mb-5 mt-3 col-11 col-sm-10 col-md-6">
            <div class="h-100 d-f-a-c-j-c">
                <img loading="lazy" class="img-fluid rounded-3" src="./assets/images/bulk.png" alt="Service image">
            </div>
        </div>
        <div class="mx-auto ms-md-0 mb-5 mt-3 col-11 col-sm-10 col-md-5">
            <div class="h-100 d-f-a-c-j-c flex-column">
                <h3>{{ 'customers.freight.recyclers.sub-title1' | translate }}</h3>
                <p>{{ 'customers.freight.recyclers.paragraph1' | translate }}</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="mx-auto ms-md-0 mb-5 mt-3 col-11 col-sm-10 col-md-6">
            <div class="h-100 d-f-a-c-j-c">
                <img loading="lazy" class="img-fluid rounded-3" src="./assets/images/container-haulage.jpg" alt="Service image">
            </div>
        </div>
        <div class="mx-auto me-md-0 mb-5 mt-3 col-11 col-sm-10 col-md-5">
            <div class="h-100 d-f-a-c-j-c flex-column">
                <h3>{{ 'customers.freight.recyclers.sub-title2' | translate }}</h3>
                <p>{{ 'customers.freight.recyclers.paragraph2' | translate }}</p>
            </div>
        </div>
    </div>
</div>







<div class="container pb-5">
    <div class="card">
        <div class="row w-100">
            <div data-aos="flip-up" data-aos-duration="2000" data-aos-anchor-placement="center-bottom" class="col-12 col-sm-10 col-md-5 col-lg-6 mx-auto py-4 px-5 mt-4">
                <i class="fa fa-road fa-3x text-theme mb-4"></i>
                <h3>{{ 'customers.freight.recyclers.sub-title3' | translate }}</h3>
                <p>{{ 'customers.freight.recyclers.paragraph3' | translate }}</p>
            </div>

            <div data-aos="flip-up" data-aos-duration="2500" class="col-12 col-sm-10 col-md-5 col-lg-6 mx-auto py-4 px-5 mt-4">
                <i class="fa fa-ship fa-3x text-theme mb-4"></i>
                <h3>{{ 'customers.freight.recyclers.sub-title4' | translate }}</h3>
                <p>{{ 'customers.freight.recyclers.paragraph4' | translate }}</p>
            </div>
        </div>
    </div>
</div>
