<app-bread-crumbs [img_url]="'car.jpg'">
    <div class="row w-100">
        <div class="col-11 col-10 col-md-7 col-lg-6">
            <h1 data-aos="fade-up" data-aos-duration="2000" class="text-light">{{
                'customers.auto.private-dealers.title1' | translate }}</h1>
            <p data-aos="fade-up" data-aos-duration="2300" class="text-light my-4">{{
                'customers.auto.private-dealers.text1' | translate }}</p>

            <a data-aos="fade-up" data-aos-duration="2600" href="#" class="btn-theme mt-4" role="button" data-mdb-toggle="modal" data-mdb-target="#privateFormModal">
                <span>{{ 'form.click' | translate }}</span>
                <span>{{ 'form.sendMessage' | translate }}</span>
                {{ 'form.sendMessage' | translate }}
            </a>
        </div>
    </div>
</app-bread-crumbs>






<!-- icon block -->
<div class="container pb-5">
    <app-section-title [title]="'customers.auto.private-dealers.title1' | translate"></app-section-title>

    <div class="row">
        <div data-aos="fade-up" data-aos-duration="2000" class="mx-auto mt-5 col-11 col-sm-8 col-md-5 col-lg-4">
            <div class="icon-block">
                <div class="icon">
                    <i class="fa fa-box"></i>
                </div>
                <div class="text">
                    <h5>{{ 'customers.auto.private-dealers.service1' | translate }}</h5>
                    <p>{{ 'customers.auto.private-dealers.s-text1' | translate }}</p>
                </div>
            </div>
        </div>
        <div data-aos="fade-up" data-aos-duration="2300" class="mx-auto mt-5 col-11 col-sm-8 col-md-5 col-lg-4">
            <div class="icon-block">
                <div class="icon">
                    <i class="fa fa-box-open"></i>
                </div>
                <div class="text">
                    <h5>{{ 'customers.auto.private-dealers.service2' | translate }}</h5>
                    <p>{{ 'customers.auto.private-dealers.s-text2' | translate }}</p>
                </div>
            </div>
        </div>
        <div data-aos="fade-up" data-aos-duration="2600" class="mx-auto mt-5 col-11 col-sm-8 col-md-5 col-lg-4">
            <div class="icon-block">
                <div class="icon">
                    <i class="fa fa-truck-ramp-box"></i>
                </div>
                <div class="text">
                    <h5>{{ 'customers.auto.private-dealers.service3' | translate }}</h5>
                    <p>{{ 'customers.auto.private-dealers.s-text3' | translate }}</p>
                </div>
            </div>
        </div>
        <div data-aos="fade-up" data-aos-duration="2000" class="mx-auto mt-5 col-11 col-sm-8 col-md-5 col-lg-4">
            <div class="icon-block">
                <div class="icon">
                    <i class="fa fa-gauge-high"></i>
                </div>
                <div class="text">
                    <h5>{{ 'customers.auto.private-dealers.service4' | translate }}</h5>
                    <p>{{ 'customers.auto.private-dealers.s-text4' | translate }}</p>
                </div>
            </div>
        </div>
        <div data-aos="fade-up" data-aos-duration="2300" class="mx-auto mt-5 col-11 col-sm-8 col-md-5 col-lg-4">
            <div class="icon-block">
                <div class="icon">
                    <i class="fa fa-boxes-stacked"></i>
                </div>
                <div class="text">
                    <h5>{{ 'customers.auto.private-dealers.service5' | translate }}</h5>
                    <p>{{ 'customers.auto.private-dealers.s-text5' | translate }}</p>
                </div>
            </div>
        </div>
        <div data-aos="fade-up" data-aos-duration="2600" class="mx-auto mt-5 col-11 col-sm-8 col-md-5 col-lg-4">
            <div class="icon-block">
                <div class="icon">
                    <i class="fa-solid fa-stopwatch"></i>
                </div>
                <div class="text">
                    <h5>{{ 'customers.auto.private-dealers.service6' | translate }}</h5>
                    <p>{{ 'customers.auto.private-dealers.s-text6' | translate }}</p>
                </div>
            </div>
        </div>
    </div>
</div>







<div class="container">
    <app-section-title [title]="'customers.auto.private-dealers.h-title' | translate"></app-section-title>

    <div class="row">
        <div data-aos="fade-right" data-aos-duration="2000" class="mx-auto col-11 col-sm-10 col-md-6 mt-5">
            <div class="d-f-a-c-j-c h-100">
                <div>
                    <h3>{{ 'customers.auto.private-dealers.title3' | translate }}</h3>
                    <p>{{ 'customers.auto.private-dealers.paragraph1' | translate }}</p>
                </div>
            </div>
        </div>
        <div data-aos="fade-left" data-aos-duration="2300" class="mx-auto col-11 col-sm-10 col-md-6 mt-5">

            <form #f="ngForm" (submit)="send(f)">
                <h3 class="text-center">Private dealers form</h3>

                <mat-form-field class="w-100">
                    <mat-label>First name</mat-label>
                    <input type="text" matInput ngModel name="first_name" required minlength="3">
                </mat-form-field>

                <mat-form-field class="w-100">
                    <mat-label>Last name</mat-label>
                    <input type="text" matInput ngModel name="last_name" required minlength="3">
                </mat-form-field>

                <mat-form-field class="w-100">
                    <mat-label>Phone</mat-label>
                    <input type="text" matInput ngModel name="phone" required minlength="7">
                </mat-form-field>

                <mat-form-field class="w-100">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput ngModel name="email" required minlength="6">
                </mat-form-field>

                <mat-form-field class="w-100">
                    <mat-label>Volume</mat-label>
                    <mat-select ngModel name="volume" required>
                        <mat-option [value]="'1'">1 vehicle in a month</mat-option>
                        <mat-option [value]="'1-5'">1-5 vehicle in a month</mat-option>
                        <mat-option [value]="'5-10'">5-10 vehicle in a month</mat-option>
                        <mat-option [value]="'10+'">10+ vehicle in a month</mat-option>
                    </mat-select>
                </mat-form-field>

                <button [disabled]="f.invalid" type="submit" class="btn-theme w-100" data-mdb-dismiss="modal">
                    <span>{{ 'form.click' | translate }}</span>
                    <span class="w-100">{{ 'form.send' |translate }}</span>
                    {{ 'form.send' |translate }}
                </button>
            </form>
        </div>
    </div>
</div>







<section id="private-dealers">
    <div class="container mt-5 py-5">

        <div class="row">
            <div data-aos="fade-up" data-aos-duration="2000" class="mx-auto ms-md-0 mb-5 mt-3 col-11 col-sm-10 col-md-5">
                <div class="img-block">
                    <img loading="lazy" class="img-fluid rounded-3" src="./assets/images/dealers/dealership.jpg" alt="Service image">
                </div>
            </div>
            <div data-aos="fade-up" data-aos-duration="2000" class="mx-auto me-md-0 mb-5 mt-3 col-11 col-sm-10 col-md-5">
                <div class="text-block">
                    <h3>{{ 'customers.auto.private-dealers.title4' | translate }}</h3>
                    <p>{{ 'customers.auto.private-dealers.paragraph2' | translate }}</p>
                </div>
            </div>
        </div>

        <div class="row sm-reverse">
            <div data-aos="fade-up" data-aos-duration="2000" class="mx-auto me-md-0 mb-5 mt-3 col-11 col-sm-10 col-md-5">
                <div class="img-block">
                    <img loading="lazy" class="img-fluid rounded-3" src="./assets/images/dealers/carhauler.jpg" alt="Service image">
                </div>
            </div>
            <div data-aos="fade-up" data-aos-duration="2000" class="mx-auto ms-md-0 mb-5 mt-3 col-11 col-sm-10 col-md-5">
                <div class="text-block">
                    <h3>{{ 'customers.auto.private-dealers.title5' | translate }}</h3>
                    <p>{{ 'customers.auto.private-dealers.paragraph3' | translate }}</p>
                </div>
            </div>
        </div>

    </div>
</section>





<!-- form modal -->
<div class="container">
    <div class="modal fade" id="privateFormModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="container h-100 d-flex align-items-center">
                        <div class="row w-100">
                            <div class="mx-auto col-11 col-sm-10 col-md-9 col-lg-7 col-xl-6">

                                <form #fm="ngForm" (submit)="send(fm)">
                                    <h3 class="text-center">{{ 'customers.auto.private-dealers.title1' | translate }}
                                        form</h3>


                                    <mat-form-field class="w-100">
                                        <mat-label>First name</mat-label>
                                        <input type="text" matInput ngModel name="first_name" required minlength="3">
                                    </mat-form-field>

                                    <mat-form-field class="w-100">
                                        <mat-label>Last name</mat-label>
                                        <input type="text" matInput ngModel name="last_name" required minlength="3">
                                    </mat-form-field>

                                    <mat-form-field class="w-100">
                                        <mat-label>Phone</mat-label>
                                        <input type="text" matInput ngModel name="phone" required minlength="7">
                                    </mat-form-field>

                                    <mat-form-field class="w-100">
                                        <mat-label>Email</mat-label>
                                        <input type="email" matInput ngModel name="email" required minlength="6">
                                    </mat-form-field>

                                    <mat-form-field class="w-100">
                                        <mat-label>Volume</mat-label>
                                        <mat-select ngModel name="volume" required>
                                            <mat-option [value]="'1'">1 vehicle in month</mat-option>
                                            <mat-option [value]="'1-5'">1-5 vehicle in month</mat-option>
                                            <mat-option [value]="'5-10'">5-10 vehicle in month</mat-option>
                                            <mat-option [value]="'10+'">10+ vehicle in month</mat-option>
                                        </mat-select>
                                    </mat-form-field>


                                    <div class="d-flex">
                                        <button type="reset" class="btn-secondary btn w-100 me-3" data-mdb-dismiss="modal">
                                            <span>{{ 'form.cancel' |translate }}</span>
                                        </button>
                                        <button [disabled]="fm.invalid" type="submit" class="btn-theme w-100">
                                            <span>{{ 'form.click' | translate }}</span>
                                            <span class="w-100">{{ 'form.send' |translate }}</span>
                                            {{ 'form.send' |translate }}
                                        </button>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>