<app-bread-crumbs [img_url]="'intermodal.jpg'">
    <div>
        <h1 class="text-light">
            {{ 'customers.auto.online-auto.title1' | translate }}
        </h1>

        <div class="g-container">
            <ul id="list-example" class="list-unstyled" style="--s: 4">
                <li>
                    <div (click)="goTo('block-1')" class="text-light">
                        {{ 'customers.auto.online-auto.text1' | translate }}
                        <i class="fa fa-arrow-right ms-3"></i>
                    </div>
                </li>
                <li>
                    <div (click)="goTo('block-2')" class="text-light">
                        {{ 'customers.auto.online-auto.text2' | translate }}
                        <i class="fa fa-arrow-right ms-3"></i>
                    </div>
                </li>
                <li>
                    <div (click)="goTo('block-3')" class="text-light">
                        {{ 'customers.auto.online-auto.text3' | translate }}
                        <i class="fa fa-arrow-right ms-3"></i>
                    </div>
                </li>
                <li>
                    <div (click)="goTo('block-4')" class="text-light">
                        {{ 'customers.auto.online-auto.text4' | translate }}
                        <i class="fa fa-arrow-right ms-3"></i>
                    </div>
                </li>
                <li>
                    <div (click)="goTo('block-1')" class="text-light">
                        {{ 'customers.auto.online-auto.text1' | translate }}
                        <i class="fa fa-arrow-right ms-3"></i>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</app-bread-crumbs>



<div class="container">
    <app-section-title [title]="'customers.auto.online-auto.title2' | translate"></app-section-title>
    <p data-aos="fade-up" data-aos-duration="2000" class="text-center">{{ 'customers.auto.online-auto.paragraph1' |
        translate }}</p>

    <img loading="lazy" data-aos="fade-up" data-aos-duration="2000" src="./assets/images/2.jpg" class="w-100 my-4 rounded"
        alt="Service image">
</div>



<div class="container mb-5 pb-5">
    <app-section-title [title]="'customers.auto.online-auto.title3' | translate"></app-section-title>

    <p data-aos="fade-up" data-aos-duration="2000" class="text-center">{{ 'customers.auto.online-auto.paragraph2' |
        translate }}</p>


    <div class="row mt-5" id="block-1">
        <div data-aos="fade-up" data-aos-duration="2000" class="col-11 col-sm-8 col-md-6 mx-auto mt-5">
            <div class="d-flex align-items-center h-100">
                <div>
                    <h3>{{ 'customers.auto.online-auto.title4' | translate }}</h3>
                    <p>{{ 'customers.auto.online-auto.paragraph3' | translate }}</p>
                </div>
            </div>
        </div>
        <div data-aos="fade-up" data-aos-duration="2000" class="col-11 col-sm-8 col-md-6 mx-auto mt-5">
            <img loading="lazy" src="./assets/images/Load-board-tertiary-image.jpg" alt="Service image" class="img-fluid rounded">
        </div>
    </div>


    <div class="row mt-5 sm-reverse" id="block-2">
        <div data-aos="fade-up" data-aos-duration="2000" class="col-11 col-sm-8 col-md-6 mx-auto mt-5">
            <div class="d-flex align-items-center h-100">
                <div>
                    <h3>{{ 'customers.auto.online-auto.title5' | translate }}</h3>
                    <p>{{ 'customers.auto.online-auto.paragraph4' | translate }}</p>
                </div>
            </div>
        </div>
        <div data-aos="fade-up" data-aos-duration="2000" class="col-11 col-sm-8 col-md-6 mx-auto mt-5 video-block">
            <img loading="lazy" src="./assets/images/phonejpg.jpg" alt="You Tube link" class="img-fluid rounded">
            <button data-mdb-toggle="modal" data-mdb-target="#videoModal" class="play-btn d-flex align-items-center
            justify-content-center" href="#"><i class="fa fa-play"></i></button>


            <div class="modal fade" id="videoModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-fullscreen">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="btn-close" data-mdb-dismiss="modal"
                                aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <iframe width="100%" height="80%" frameborder="0" allowfullscreen
                                allow="autoplay; encrypted-media; clipboard-write; gyroscope; picture-in-picture; web-share"
                                src="https://www.youtube.com/embed/UQq3wAld3zc?rel=0&autoplay=0&mute=0&controls=1&loop=1">
                            </iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row mt-5" id="block-3">
        <div data-aos="fade-up" data-aos-duration="2000" class="col-11 col-sm-8 col-md-6 mx-auto mt-5">
            <div class="d-flex align-items-center h-100">
                <div>
                    <h3>{{ 'customers.auto.online-auto.title6' | translate }}</h3>
                    <p>{{ 'customers.auto.online-auto.paragraph5' | translate }}</p>
                </div>
            </div>
        </div>
        <div data-aos="fade-up" data-aos-duration="2000" class="col-11 col-sm-8 col-md-6 mx-auto mt-5">
            <img loading="lazy" src="./assets/images/showroom.jpg" alt="Service image" class="img-fluid rounded">
        </div>
    </div>

</div>




<div class="my-5 bg-img jarallax" id="block-4"
    style="background-image: linear-gradient(rgba(0, 0, 0, .5),rgba(0, 0, 0, .5)), url(./assets/images/modern-dark.jpg);">
    <div class="container">

        <div class="row">
            <div data-aos="fade-up" data-aos-duration="2000"
                class="col-11 col-sm-8 col-md-6 mx-auto py-4 d-flex align-items-center">
                <img loading="lazy" src="./assets/images/dashboard.jpg" class="w-100 rounded" alt="Service image">
            </div>
            <div data-aos="fade-up" data-aos-duration="2000" class="col-11 col-sm-8 col-md-6 mx-auto p-5 ms-auto">
                <div class="d-flex align-items-center h-100">
                    <div>
                        <h3 class="text-light">{{ 'customers.auto.online-auto.title7' | translate }}</h3>
                        <p class="text-light">{{ 'customers.auto.online-auto.paragraph6' | translate }}</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>






<!-- f.a.q -->
<div class="container mb-5">
    <app-section-title title="F.A.Q"></app-section-title>
    <div class="faq">
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-mdb-toggle="collapse"
                        data-mdb-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        {{ 'customers.auto.online-auto.question1' | translate }}
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                    data-mdb-parent="#accordionExample">
                    <div class="accordion-body">
                        {{ 'customers.auto.online-auto.answer1' | translate }}
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-mdb-toggle="collapse"
                        data-mdb-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        {{ 'customers.auto.online-auto.question2' | translate }}
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                    data-mdb-parent="#accordionExample">
                    <div class="accordion-body">
                        {{ 'customers.auto.online-auto.answer2' | translate }}
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-mdb-toggle="collapse"
                        data-mdb-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        {{ 'customers.auto.online-auto.question3' | translate }}
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                    data-mdb-parent="#accordionExample">
                    <div class="accordion-body">
                        {{ 'customers.auto.online-auto.answer3' | translate }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>