<app-bread-crumbs img_url="enclosed.jpg">
    <div class="row w-100">
        <div class="col-11 col-sm-10 col-md-6 mx-auto text-center">
            <h2 data-aos="fade-up" data-aos-duration="2000" class="text-light">{{ 'carriers.auto.enclosed-car.title1' | translate }}</h2>
            <p data-aos="fade-up" data-aos-duration="2300" class="text-light">{{ 'carriers.auto.enclosed-car.text1' | translate }}</p>

            <a data-aos="fade-up" data-aos-duration="2600" routerLink="/app/services/auto/how-much-does-it-cost" class="btn-theme">
                <span>{{ 'form.click' | translate }}</span>
                <span>Get a free quote</span>
                Get a free quote
            </a>
        </div>
    </div>
</app-bread-crumbs>






<div class="container my-5 py-5">
    <app-section-title title="{{ 'carriers.auto.enclosed-car.title2' | translate }}"></app-section-title>
    <div class="text-list">
        <ul>
            <li data-aos="fade-left" data-aos-duration="1000">{{ 'carriers.auto.enclosed-car.text2' | translate }}</li>
            <li data-aos="fade-left" data-aos-duration="1300">{{ 'carriers.auto.enclosed-car.text3' | translate }}</li>
            <li data-aos="fade-left" data-aos-duration="1700">{{ 'carriers.auto.enclosed-car.text4' | translate }}</li>
            <li data-aos="fade-left" data-aos-duration="2000">{{ 'carriers.auto.enclosed-car.text5' | translate }}</li>
            <li data-aos="fade-left" data-aos-duration="2300">{{ 'carriers.auto.enclosed-car.text6' | translate }}</li>
            <li data-aos="fade-left" data-aos-duration="2600">{{ 'carriers.auto.enclosed-car.text7' | translate }}</li>
        </ul>
    </div>
</div>







<div class="container mb-5 pb-5">

    <div class="row">
        <div data-aos="fade-right" data-aos-duration="2000" class="col-11 col-sm-8 col-md-6 mx-auto mt-5">
            <div class="d-flex align-items-center h-100">
                <div>
                    <h3>{{ 'carriers.auto.enclosed-car.sub-title1' | translate }}</h3>
                    <p>{{ 'carriers.auto.enclosed-car.sub-text1' | translate }}</p>
                </div>
            </div>
        </div>
        <div data-aos="fade-left" data-aos-duration="2000" class="col-11 col-sm-8 col-md-6 mx-auto mt-5">
            <img loading="lazy" src="./assets/images/carries/Enclosed_auto/2.jpg" alt="DPL service image" class="img-fluid rounded">
        </div>
    </div>


    <div class="row sm-reverse">
        <div data-aos="fade-left" data-aos-duration="2000" class="col-11 col-sm-8 col-md-6 mx-auto mt-5">
            <div class="d-flex align-items-center h-100">
                <div>
                    <h3>{{ 'carriers.auto.enclosed-car.sub-title2' | translate }}</h3>
                    <p>{{ 'carriers.auto.enclosed-car.sub-text2' | translate }}</p>
                </div>
            </div>
        </div>
        <div data-aos="fade-right" data-aos-duration="2000" class="col-11 col-sm-8 col-md-6 mx-auto mt-5">
            <img loading="lazy" src="./assets/images/carries/Enclosed_auto/3.jpg" alt="DPL service image" class="img-fluid rounded">
        </div>
    </div>

    <div class="row">
        <div data-aos="fade-right" data-aos-duration="2000" class="col-11 col-sm-8 col-md-6 mx-auto mt-5">
            <div class="d-flex align-items-center h-100">
                <div>
                    <h3>{{ 'carriers.auto.enclosed-car.sub-title3' | translate }}</h3>
                    <p>{{ 'carriers.auto.enclosed-car.sub-text3' | translate }}</p>
                </div>
            </div>
        </div>
        <div data-aos="fade-left" data-aos-duration="2000" class="col-11 col-sm-8 col-md-6 mx-auto mt-5">
            <img loading="lazy" src="./assets/images/carries/Enclosed_auto/4.jpg" alt="DPL service image" class="img-fluid rounded">
        </div>
    </div>

</div>