<app-bread-crumbs img_url="car.jpg">
    <div class="row w-100">
        <div class="col-11 col-sm-10 col-md-10 col-lg-8 col-xl-8 text-center mx-auto">
            <h2 data-aos="fade-up" data-aos-duration="2000" class="text-light">
                {{ 'carriers.auto.open-car.title1' | translate }}
            </h2>
            <p data-aos="fade-up" data-aos-duration="2500" class="text-light">
                {{ 'carriers.auto.open-car.text1' | translate }}
            </p>
        </div>
    </div>
</app-bread-crumbs>






<div class="container mb-5 pb-5 text-center">
    <app-section-title title="{{ 'carriers.auto.open-car.title2' | translate }}"></app-section-title>

    <p data-aos="fade-up" data-aos-duration="2000" class="shadow py-2 px-4">{{ 'carriers.auto.open-car.text2' | translate }}</p>
</div>




<div class="w-100" data-aos="fade-up" data-aos-duration="2000">
    <div id="carouselBasicExample" class="carousel slide carousel-fade" data-mdb-ride="carousel">
        <!-- Inner -->
        <div class="carousel-inner">
            <!-- Single item -->
            <div class="carousel-item active" data-mdb-interval="3000">
                <img loading="lazy" src="./assets/images/carries/open_car_hualer/1.jpg" class="d-block w-100"
                    alt="Sunset Over the City" />
            </div>

            <!-- Single item -->
            <div class="carousel-item" data-mdb-interval="3000">
                <img loading="lazy" src="./assets/images/carries/open_car_hualer/2.jpg" class="d-block w-100" alt="Canyon at Nigh" />
            </div>

            <!-- Single item -->
            <div class="carousel-item" data-mdb-interval="3000">
                <img loading="lazy" src="./assets/images/carries/open_car_hualer/3.jpg" class="d-block w-100"
                    alt="Cliff Above a Stormy Sea" />
            </div>

        </div>
        <!-- Inner -->

        <!-- Controls -->
        <button class="carousel-control-prev" type="button" data-mdb-target="#carouselBasicExample"
            data-mdb-slide="prev">
            <span class="carousel-control-prev-icon text-light" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-mdb-target="#carouselBasicExample"
            data-mdb-slide="next">
            <span class="carousel-control-next-icon text-light" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>






<div class="container my-5 py-5 text-center">
    <p data-aos="fade-up" data-aos-duration="2000" class="shadow py-2 px-4">{{ 'carriers.auto.open-car.text3' | translate }}</p>
</div>






<div class="container mb-5 pb-5">
    <app-section-title title="{{ 'carriers.auto.open-car.title3' | translate }}"></app-section-title>

    <div class="row sm-reverse">
        <div data-aos="fade-left" data-aos-duration="2000" class="col-11 col-sm-8 col-md-6 mx-auto mt-5">
            <div class="d-flex align-items-center h-100">
                <div>
                    <h3>{{ 'carriers.auto.open-car.sub-title1' | translate }}</h3>
                    <p>{{ 'carriers.auto.open-car.sub-text1' | translate }}</p>
                </div>
            </div>
        </div>
        <div data-aos="fade-right" data-aos-duration="2000" class="col-11 col-sm-8 col-md-6 mx-auto mt-5">
            <img loading="lazy" src="./assets/images/carries/open_car_hualer/7.jpg" alt="DPL service image" class="img-fluid rounded">
        </div>
    </div>

    <div class="row">
        <div data-aos="fade-right" data-aos-duration="2000" class="col-11 col-sm-8 col-md-6 mx-auto mt-5">
            <div class="d-flex align-items-center h-100">
                <div>
                    <h3>{{ 'carriers.auto.open-car.sub-title2' | translate }}</h3>
                    <p>{{ 'carriers.auto.open-car.type' | translate }}</p>
                    <p>{{ 'carriers.auto.open-car.length' | translate }}</p>
                    <p>{{ 'carriers.auto.open-car.width' | translate }}</p>
                    <p>{{ 'carriers.auto.open-car.weight' | translate }}</p>
                    <p>{{ 'carriers.auto.open-car.options' | translate }}</p>
                </div>
            </div>
        </div>
        <div data-aos="fade-left" data-aos-duration="2000" class="col-11 col-sm-8 col-md-6 mx-auto mt-5">
            <img loading="lazy" src="./assets/images/carries/open_car_hualer/8.jpg" alt="DPL service image" class="img-fluid rounded">
        </div>
    </div>

</div>