<footer id="footer" class="footer">

    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-5 col-md-12 footer-info">
                <a routerLink="/" class="logo d-flex align-items-center">
                    <img loading="lazy" src="./assets/logo.svg" alt="CDB logo image">
                </a>
                <p class="text-light">CDB Haulers Logistics is a modern, fast-growing, cutting-edge company based in the United States, handling all aspects of transportation within the US and Canada.</p>
                <div class="social-links d-flex my-4">
                    <a target="_blank" href="https://twitter.com/dplinco" class="twitter"><i class="fab fa-twitter"></i></a>
                    <a target="_blank" href="https://www.facebook.com/profile.php?id=100095577330257" class="facebook"><i class="fab fa-facebook"></i></a>
                    <a target="_blank" href="https://www.instagram.com/dplinc.co/" class="instagram"><i class="fab fa-instagram"></i></a>
                    <a target="_blank" href="https://www.youtube.com/channel/UC1pnuqU8XjYi5c8d3gv42GA" class="youtube"><i class="fab fa-youtube"></i></a>
                </div>
            </div>

            <div class="col-lg-2 col-6 footer-links">
                <h4 class="text-light">Our Services</h4>
                <ul>
                    <li><a href="#">Online Car Buyers</a></li>
                    <li><a href="#">Private Dealers</a></li>
                    <li><a href="#">Dealerships</a></li>
                    <li><a href="#">Auctions</a></li>
                </ul>
            </div>

            <div class="col-lg-2 col-6 footer-links">
                <h4 class="text-light">Useful Links</h4>
                <ul>
                    <li><a href="#">Open Car Haulers</a></li>
                    <li><a href="#">Enclosed Car Haulers</a></li>
                    <li><a href="#">Flatbed Car Trailers</a></li>
                    <li><a href="#">Specialized Cars</a></li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
                <h4 class="text-light">Contact Us</h4>
                <p class="text-light">
                    <strong>Address:</strong> 8765 14th Ave Apt 1, Brooklyn, NY, 11228<br><br>
                    <strong>Phone:</strong> +1 (314) 635-0760<br>
                    <strong>Email:</strong> info@cdbhaulers.com<br>
                </p>
            </div>

        </div>
    </div>

    <div class="container mt-4">
        <div class="copyright">
            &copy; Copyright by CDB Haulers Logistics LLC. All Rights Reserved
        </div>
    </div>

</footer>