<footer id="footer" class="footer">

    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-3 col-md-12 footer-info">
                <a routerLink="/" class="logo">
                    <img loading="lazy" class="rounded" src="./assets/logo.jpg" width="200px" alt="CDB logo image">
                </a>
                <div class="social-links d-flex my-4">
                    <a target="_blank" href="https://twitter.com/dplinco" class="twitter"><i class="fab fa-twitter"></i></a>
                    <a target="_blank" href="https://www.facebook.com/profile.php?id=100095577330257" class="facebook"><i class="fab fa-facebook"></i></a>
                    <a target="_blank" href="https://www.instagram.com/dplinc.co/" class="instagram"><i class="fab fa-instagram"></i></a>
                    <a target="_blank" href="https://www.youtube.com/channel/UC1pnuqU8XjYi5c8d3gv42GA" class="youtube"><i class="fab fa-youtube"></i></a>
                </div>
            </div>

            <div class="col-lg-3 mx-auto col-md-12">
                <p class="text-light">{{ "footer.text" | translate }}</p>
            </div>

            <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
                <h4 class="text-light">{{ "menu.contact_us" | translate }}</h4>
                <p class="text-light">
                    <strong>{{ "form.address" | translate }}:</strong> 8765 14th Ave Apt 1, Brooklyn, NY, 11228<br><br>
                    <strong>{{ "form.phone" | translate }}:</strong> +1 (314) 314-7424<br>
                    <strong>{{ "form.email" | translate }}:</strong> info@cdbhaulers.com<br>
                </p>
            </div>

        </div>
    </div>

    <div class="container mt-4">
        <div class="copyright">
            {{ "footer.copyright" | translate }}
        </div>
    </div>

</footer>